// 리스트 만들기
@mixin value-from-dic($name, $lead, $dic) {
  @each $k, $v in $dic {
    #{$name}#{$k} {
      #{$lead}: #{$v};
    }
  }
}

// rem 만들기 (패딩, 마진)
@mixin rem-h-1($name, $lead) {
  #{$name}h {
    #{$lead}: .5rem;
  }

  #{$name}#{1} {
    #{$lead}: 1rem;
  }
}

@mixin rem-h-1-tbse($name, $lead) {
  @include rem-h-1($name, $lead);
  $tbse: t,b,s,e;
  //
  @each $t in $tbse {
    $n: #{$name}#{$t};
    @include rem-h-1($n, $lead);
  }
}

// 저스티파이
$justifies: (s: start, e:end, c:center, eb:space-between, ea:space-around, ee:space-evenly);
@include value-from-dic(".sjc", "justify-content", $justifies);

// 패딩
//@include rem-h-1-tbse(".sp", "padding");

// 마진
//@include rem-h-1-tbse(".sm", "margin");
.smta {
  margin-top: auto;
}

.smba {
  margin-bottom: auto;
}

.smsa {
  margin-left: auto;
}

.smea {
  margin-right: auto;
}
