//@import "_variable.scss";
//@import "_mixin.scss";

// 저스티파이
.sjfc {
  &s {
    justify-content: start;
  }

  &e {
    justify-content: end;
  }

  &c {
    justify-content: center;
  }

  &eb {
    justify-content: space-between;
  }

  &ea {
    justify-content: space-around;
  }

  &ee {
    justify-content: space-evenly;
  }
}

// 패딩
.sp {
  // .5
  &h {
    padding: .5rem;
  }
  // 1
  &1 {
    padding: 1rem;
  }
  // 왼쪽
  &l {
    // .5
    &h {
      padding-left: .5rem;
    }
    // 1
    &1 {
      padding-left: 1rem;
    }
  }
  // 오른쪽
  &r {
    // .5
    &h {
      padding-right: .5rem;
    }
    // 1
    &1 {
      padding-right: 1rem;
    }
  }
  // 위
  &t {
    // .5
    &h {
      padding-top: .5rem;
    }
    // 1
    &1 {
      padding-bottom: 1rem;
    }
  }
  // 아래
  &b {
    // .5
    &h {
      padding-bottom: .5rem;
    }
    // 1
    &1 {
      padding-bottom: 1rem;
    }
  }
}

// 마진
.sm {
  // .5
  &h {
    margin: .5rem;
  }
  // 1
  &1 {
    margin: 1rem;
  }
  // 왼쪽
  &l {
    // .5
    &h {
      margin-left: .5rem;
    }
    // 1
    &1 {
      margin-left: 1rem;
    }
  }
  // 오른쪽
  &r {
    // .5
    &h {
      margin-right: .5rem;
    }
    // 1
    &1 {
      margin-right: 1rem;
    }
  }
  // 위
  &t {
    // .5
    &h {
      margin-top: .5rem;
    }
    // 1
    &1 {
      margin-bottom: 1rem;
    }
  }
  // 아래
  &b {
    // .5
    &h {
      margin-bottom: .5rem;
    }
    // 1
    &1 {
      margin-bottom: 1rem;
    }
  }
}
