.body {
  margin: 0;
  background-color: #1c1b22;
  color: #fbfbfe;
  font-family: Malgun Gothic, Segoe UI, Apple SD Gothic Neo, Helvetica Neue, Noto Sans, Helvetica, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol, Apple Color Emoji, Noto Color Emoji;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; }

.dzex {
  padding: 1rem 1.5rem;
  margin: 0.5rem 1rem;
  border: thick double #a9f27d; }
  .dzex.pri {
    border: 1px solid #838288;
    border-radius: 0.15rem; }
  .dzex.sec {
    border: 1px solid #00ddff;
    border-radius: 0.15rem; }

.var-nrm {
  border: 1px solid transparent;
  color: #fbfbfe;
  background: #2b2a33; }
  .var-nrm:hover {
    background: #3f3f43; }
  .var-nrm:focus {
    background: #3f3f43; }
  .var-nrm:active, .var-nrm.active {
    background: #545459; }

.var-nrm-d {
  color: #fbfbfe;
  background: #2b2a33; }

.var-nrm-a {
  color: #fbfbfe;
  background: #545459; }

.var-spn {
  border: 1px solid transparent;
  color: #fbfbfe;
  background: #16424e; }
  .var-spn:hover {
    background: #126072; }
  .var-spn:focus {
    background: #126072; }
  .var-spn:active, .var-spn.active {
    background: #16768C; }

.var-spn-d {
  color: #fbfbfe;
  background: #16424e; }

.var-spn-a {
  color: #fbfbfe;
  background: #16768C; }

.var-sme {
  border: 1px solid transparent;
  color: #fbfbfe;
  background: transparent; }
  .var-sme:hover {
    background: #3f3f43; }
  .var-sme:focus {
    background: transparent;
    color: #a0faea; }
  .var-sme:active, .var-sme.active {
    background: #4b4b4b;
    color: #fbfbfe; }

.var-sme-d {
  color: #fbfbfe;
  background: transparent; }

.var-sme-a {
  color: #fbfbfe;
  background: #4b4b4b; }

.var-oue {
  border: 1px solid #2b2a33;
  color: #fbfbfe;
  background: transparent; }
  .var-oue:hover {
    border: 1px solid #3f3f43; }
  .var-oue:focus {
    border: 1px solid #3f3f43; }
  .var-oue:active, .var-oue.active {
    border: 1px solid #545459;
    color: #0360b9; }

.var-oue-d {
  border: 1px solid #2b2a33;
  color: #fbfbfe;
  background: transparent; }

.var-oue-a {
  border: 1px solid #545459;
  color: #0360b9; }

.var-pri {
  border: 1px solid transparent;
  color: #fbfbfe;
  background: #023b8f; }
  .var-pri:hover {
    background: #012e7f; }
  .var-pri:focus {
    background: #012e7f; }
  .var-pri:active, .var-pri.active {
    background: #0360b9; }

.var-pri-d {
  color: #fbfbfe;
  background: #023b8f; }

.var-pri-a {
  color: #fbfbfe;
  background: #0360b9; }

@keyframes e-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes e-fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.accd {
  --accd-border: #838288;
  --accd-ic: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }
  .accd > div > button {
    width: 100%;
    padding: .5rem .75rem;
    outline: none;
    text-align: left;
    transition: 0.2s; }
    .accd > div > button:after {
      float: right;
      width: 1rem;
      height: 1rem;
      margin-left: auto;
      background: var(--accd-ic) no-repeat;
      content: '';
      transition: transform 0.2s ease-in-out; }
    .accd > div > button.active:after {
      transform: rotate(-180deg); }
  .accd > div > div {
    display: none;
    overflow: hidden;
    padding: 0 1.1rem; }
    .accd > div > div.active {
      display: block; }

.accd-border > div {
  border: 1px solid var(--accd-border); }
  .accd-border > div:not(:first-of-type) {
    border-top: 0; }

.tab {
  --tab-border: #838288; }
  .tab > div[role=tablist] {
    overflow: hidden; }
    .tab > div[role=tablist] > button {
      float: left;
      padding: 0.5rem 1rem;
      outline: none;
      font-size: 1rem;
      transition: .2s; }
  .tab > div[role=tabpanel] {
    display: none;
    margin-top: -1px;
    padding: .1rem 1rem; }
    .tab > div[role=tabpanel].active {
      display: block; }

.tab-border > div[role=tablist] > button {
  border: 1px solid var(--tab-border); }
  .tab-border > div[role=tablist] > button:not(:first-of-type) {
    border-left: 0; }

.tab-border > div[role=tabpanel] {
  border: 1px solid var(--tab-border); }

.nulo {
  display: inline-block;
  overflow: visible;
  width: auto;
  height: auto;
  padding: .5rem .75rem;
  margin: .3rem 0;
  outline: none;
  transition: all .2s;
  border-radius: 4px;
  box-shadow: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline;
  user-select: none; }

.usp.nulo:focus, .usp.nulo:hover {
  box-shadow: inset 0 0 0 99rem rgba(51, 51, 51, 0.2); }

.usp.nulo:active, .usp.nulo.active {
  box-shadow: inset 0 0 0 99rem rgba(255, 255, 255, 0.1); }

.dpd {
  --dpd-cc: #fbfbfe;
  --dpd-drop: #212529;
  --dpd-hover: #3f3f43;
  --dpd-active: #545459;
  --dpd-border: #838288;
  position: relative;
  display: inline-block; }
  .dpd > div {
    position: absolute;
    z-index: 1;
    display: none;
    min-width: 10rem;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    background: var(--dpd-drop);
    color: var(--dpd-cc);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3); }
    .dpd > div > * {
      display: block;
      padding: .5rem 1rem; }
    .dpd > div > hr {
      overflow: hidden;
      height: 0;
      margin: 0.1rem 0;
      padding: 0;
      border-top: 1px solid var(--dpd-border);
      opacity: .5; }
    .dpd > div > a, .dpd > div > button {
      display: block;
      clear: both;
      width: 100%;
      padding: .5rem 1rem;
      border: 0;
      background: inherit;
      color: inherit;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      transition: all .2s;
      cursor: pointer; }
    .dpd > div > a:active, .dpd > div > a.active, .dpd > div > button:active, .dpd > div > button.active {
      background: var(--dpd-active); }
    .dpd > div > a:hover, .dpd > div > a:focus, .dpd > div > button:hover, .dpd > div > button:focus {
      background: var(--dpd-hover);
      text-decoration: none; }
  .dpd:hover > div {
    display: block; }

.dpd-border > div {
  border: 1px solid var(--dpd-border); }

.dpd-right > div {
  right: 0;
  left: auto; }

.bdg {
  display: inline-block;
  padding: 0.3rem 0.65rem;
  border-radius: 0.375rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline; }
  .bdg:empty {
    display: none; }
  .bdg.circle {
    border-radius: 50rem; }

.nulo .bdg, .unulo .bdg {
  position: relative;
  top: -1px; }

/*# sourceMappingURL=content.css.map */