.font-serif {
  font-family: "Malgun Gothic", "Segoe UI", "Apple SD Gothic Neo", "Helvetica Neue", "Noto Sans", Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", "Noto Color Emoji"; }

.cc-bg {
  background-color: #212529;
  color: #adb5bd; }

.dzex {
  padding: 1rem 1.5rem;
  margin: 0.5rem 1rem;
  border: thick double #a9f27d; }
  .dzex.purple {
    border: 2px solid rebeccapurple; }
  .dzex.blue {
    border: 2px solid blue; }

@keyframes e-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes e-fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.accd {
  --accd-bg-text: #1e1e1e;
  --accd-bg-hover: #2b3035;
  --accd-bg-active: #031633;
  --accd-cc-text: #adb5bd;
  --accd-cc-icon: #fff;
  --accd-cc-hover: #adb5bd;
  --accd-cc-active: #6ea8fe;
  --accd-cc-border: #495057;
  --accd-ic: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }
  .accd > div > button {
    outline: none;
    width: 100%;
    padding: 1rem 1.5rem;
    transition: 0.2s;
    background-color: var(--accd-bg-text);
    border: none;
    color: var(--accd-cc-text);
    text-align: left; }
    .accd > div > button:hover {
      background-color: var(--accd-bg-hover);
      color: var(--accd-cc-hover); }
    .accd > div > button:after {
      content: '';
      float: right;
      width: 1rem;
      height: 1rem;
      margin-left: auto;
      transition: transform 0.2s ease-in-out;
      background: var(--accd-ic) no-repeat 1rem; }
  .accd > div > div {
    display: none;
    overflow: hidden;
    padding: 0 1.1rem; }
  .accd > div.active > button {
    background-color: var(--accd-bg-active);
    color: var(--accd-cc-active); }
    .accd > div.active > button:after {
      transform: rotate(-180deg); }
  .accd > div.active > div {
    display: block; }

.accd-border > div {
  border: 1px solid var(--accd-cc-border); }
  .accd-border > div:not(:first-of-type) {
    border-top: 0; }

.tab {
  --tab-bg: #1e1e1e;
  --tab-bg-hover: #2b3035;
  --tab-bg-active: #031633;
  --tab-cc: #adb5bd;
  --tab-cc-hover: #adb5bd;
  --tab-cc-active: #6ea8fe;
  --tab-cc-border: #495057; }
  .tab > div[role=tablist] {
    overflow: hidden; }
    .tab > div[role=tablist] > button {
      outline: none;
      float: left;
      padding: 1rem 1rem;
      transition: .2s;
      background: var(--tab-bg);
      border: none;
      font-size: 1rem;
      color: var(--tab-cc); }
      .tab > div[role=tablist] > button:hover {
        background-color: var(--tab-bg-hover);
        color: var(--tab-cc-hover); }
      .tab > div[role=tablist] > button.active {
        background-color: var(--tab-bg-active);
        color: var(--tab-cc-active); }
  .tab > div[role=tabpanel] {
    display: none;
    margin-top: -1px;
    padding: .1rem 1rem; }
    .tab > div[role=tabpanel].active {
      display: block; }

.tab-border > div[role=tablist] > button {
  border: 1px solid var(--tab-cc-border); }
  .tab-border > div[role=tablist] > button:not(:first-of-type) {
    border-left: 0; }

.tab-border > div[role=tabpanel] {
  border: 1px solid var(--tab-cc-border); }

.nulo {
  --nulo-bg: #0d6efd;
  --nulo-cc: #fff;
  box-shadow: none;
  user-select: none;
  display: inline-block;
  width: auto;
  height: auto;
  margin: .3rem 0;
  padding: .2rem .75rem;
  transition: all .15s;
  background: var(--nulo-bg);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.15rem;
  color: var(--nulo-cc);
  text-align: center;
  text-decoration: none;
  vertical-align: baseline; }
  .nulo:active, .nulo.active {
    box-shadow: inset 0 0 0 99rem, rgba(255, 255, 255, 0.2); }
  .nulo:focus, .nulo:hover {
    box-shadow: inset 0 0 0 99rem rgba(51, 51, 51, 0.3); }
  .nulo.primary {
    --nulo-bg: #0d6efd;
    --nulo-cc: #fff; }
  .nulo.success {
    --nulo-bg: #198754;
    --nulo-cc: #fff; }
  .nulo.danger {
    --nulo-bg: #dc3545;
    --nulo-cc: #fff; }
  .nulo.warning {
    --nulo-bg: #ffc107;
    --nulo-cc: #000; }
  .nulo.info {
    --nulo-bg: #0dcaf0;
    --nulo-cc: #000; }
  .nulo.light {
    --nulo-bg: #f8f9fa;
    --nulo-cc: #000; }
  .nulo.dark {
    --nulo-bg: #212529;
    --nulo-cc: #fff; }

.usp.nulo {
  background-color: transparent;
  color: inherit; }

.dpd {
  --dpd-bg-drop: #1e1e1e;
  --dpd-bg-hover: #2b3035;
  --dpd-bg-active: #031633;
  --dpd-cc-item: #adb5bd;
  --dpd-cc-hover: #adb5bd;
  --dpd-cc-active: #6ea8fe;
  --dpd-cc-border: #495057;
  position: relative;
  display: inline-block; }
  .dpd > div {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    min-width: 10rem;
    border: 1px solid transparent;
    background: var(--dpd-bg-drop); }
    .dpd > div > * {
      display: block;
      padding: .5rem 1rem;
      color: var(--dpd-cc-item); }
    .dpd > div > hr {
      opacity: 1;
      overflow: hidden;
      height: 0;
      margin: 0.1rem 0;
      padding: 0;
      border-top: 1px solid var(--dpd-cc-item); }
    .dpd > div > a, .dpd > div > button {
      display: block;
      width: 100%;
      padding: .5rem 1rem;
      background: transparent;
      border: 0;
      color: var(--dpd-cc-item);
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      transition: all .15s;
      cursor: pointer; }
    .dpd > div > a:active, .dpd > div > a.active .dpd > div > button:active, .dpd > div > button.active {
      color: var(--dpd-cc-active);
      background: var(--dpd-bg-active); }
    .dpd > div > a:hover, .dpd > div > a:focus, .dpd > div > button:hover, .dpd > div > button:hover {
      color: var(--dpd-cc-hover);
      background: var(--dpd-bg-hover);
      text-decoration: none; }
  .dpd:hover > div {
    display: block; }

.dpd-border > div {
  border: 1px solid var(--dpd-cc-border); }

.dpd-align-right > div {
  right: 0;
  left: auto; }

/*# sourceMappingURL=content.css.map */