.body {
  background-color: #1c1b22;
  color: #fbfbfe;
  font-family: Malgun Gothic, Segoe UI, Noto Sans, Apple SD Gothic Neo, sans-serif;
  font-size: 14px; }

.dzex {
  padding: 1rem 1.5rem;
  margin: 0.5rem 0.5rem;
  border: thick double #a9f27d; }
  .dzex.pri {
    border: 1px solid #838288;
    border-radius: 0.15rem; }
  .dzex.sec {
    border: 1px solid #00ddff;
    border-radius: 0.15rem; }

.vsnrm {
  border: 1px solid transparent;
  color: #fbfbfe;
  background: #2b2a33; }
  .vsnrm:hover, .vsnrm:focus {
    background: #3f3f43; }
  .vsnrm:active, .vsnrm.active {
    background: #545459; }

.vdnrm {
  color: #fbfbfe;
  background: #2b2a33; }

.vunrm {
  color: #fbfbfe;
  background: #545459; }

.vsspn {
  border: 1px solid transparent;
  color: #fbfbfe;
  background: #16424e; }
  .vsspn:hover, .vsspn:focus {
    background: #126072; }
  .vsspn:active, .vsspn.active {
    background: #16768C; }

.vdspn {
  color: #fbfbfe;
  background: #16424e; }

.vuspn {
  color: #fbfbfe;
  background: #16768C; }

.vssme {
  border: 1px solid transparent;
  color: #fbfbfe;
  background: transparent; }
  .vssme:hover, .vssme:focus {
    background: transparent;
    color: #a0faea; }
  .vssme:active, .vssme.active {
    background: #4b4b4b;
    color: #fbfbfe; }

.vdsme {
  color: #fbfbfe;
  background: transparent; }

.vusme {
  color: #fbfbfe;
  background: #4b4b4b; }

.vsoue {
  border: 1px solid #2b2a33;
  color: #fbfbfe;
  background: transparent; }
  .vsoue:hover, .vsoue:focus {
    border: 1px solid #3f3f43; }
  .vsoue:active, .vsoue.active {
    border: 1px solid #545459;
    color: #16768C; }

.vdoue {
  border: 1px solid #2b2a33;
  color: #fbfbfe;
  background: transparent; }

.vuoue {
  border: 1px solid #545459;
  color: #16768C; }

.vspri {
  border: 1px solid transparent;
  color: #fbfbfe;
  background: #023b8f; }
  .vspri:hover, .vspri:focus {
    background: #012e7f; }
  .vspri:active, .vspri.active {
    background: #0360b9; }

.vdpri {
  color: #fbfbfe;
  background: #023b8f; }

.vupri {
  color: #fbfbfe;
  background: #0360b9; }

.lcn, .lcnf, .lcn6, .lcn9, .lcn12 {
  width: 100%;
  padding: 0 .75rem;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 600px) {
  .lcn6, .lcn {
    max-width: 600px; } }

@media (min-width: 900px) {
  .lcn9, .lcn6, .lcn {
    max-width: 900px; } }

@media (min-width: 1200px) {
  .lcn12, .lcn9, .lcn6, .lcn {
    max-width: 1200px; } }

@keyframes e-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes e-fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.caccd > div > button {
  width: 100%;
  padding: .5rem .75rem;
  outline: none;
  text-align: left;
  transition: .15s; }
  .caccd > div > button:after {
    float: right;
    width: 1rem;
    height: 1rem;
    margin-left: auto;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") no-repeat;
    content: '';
    transition: transform .15s ease-in-out; }
  .caccd > div > button.active:after {
    transform: rotate(-180deg); }

.caccd > div > div {
  display: none;
  overflow: hidden;
  padding: 0 1.1rem; }
  .caccd > div > div.active {
    display: block; }

.caccd.bdr > div {
  border: 1px solid #838288; }
  .caccd.bdr > div:not(:first-of-type) {
    border-top: 0; }

.ctab > div[role=tablist] {
  overflow: hidden; }
  .ctab > div[role=tablist] > button {
    float: left;
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 1rem;
    transition: .15s; }

.ctab > div[role=tabpanel] {
  display: none;
  margin-top: -1px;
  padding: .1rem 1rem; }
  .ctab > div[role=tabpanel].active {
    display: block; }

.ctab.bdr > div[role=tablist] > button {
  border: 1px solid #838288; }
  .ctab.bdr > div[role=tablist] > button:not(:first-of-type) {
    border-left: 0; }

.ctab.bdr > div[role=tabpanel] {
  border: 1px solid #838288; }

.cbtn {
  display: inline-block;
  overflow: visible;
  width: auto;
  height: auto;
  padding: .5rem .75rem;
  margin: .3rem 0;
  outline: none;
  border-radius: 4px;
  box-shadow: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline;
  -webkit-user-select: none;
  user-select: none;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: .15s;
  transition-timing-function: ease-out; }

.usp.cbtn:focus, .usp.cbtn:hover {
  box-shadow: inset 0 0 0 99rem rgba(51, 51, 51, 0.2); }

.usp.cbtn:active, .usp.cbtn.active {
  box-shadow: inset 0 0 0 99rem rgba(255, 255, 255, 0.1); }

.cdrop {
  position: relative;
  display: inline-block; }
  .cdrop > div {
    position: absolute;
    z-index: 1;
    display: none;
    min-width: 10rem;
    width: fit-content;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    background: #212529;
    color: #fbfbfe;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3); }
    .cdrop > div > * {
      display: block;
      padding: .5rem 1rem; }
    .cdrop > div > hr {
      overflow: hidden;
      height: 0;
      margin: 0.1rem 0;
      padding: 0;
      border-top: 1px solid #838288;
      opacity: .5; }
    .cdrop > div > a {
      clear: both;
      width: 100%;
      border: 0;
      background: inherit;
      color: inherit;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      transition: background-color .15s ease-in-out;
      cursor: pointer; }
      .cdrop > div > a:active, .cdrop > div > a.active {
        background: #545459; }
      .cdrop > div > a:hover, .cdrop > div > a:focus {
        background: #3f3f43;
        text-decoration: none; }
    .cdrop > div.bdr {
      border: 1px solid #838288; }
    .cdrop > div.rgt {
      right: 0;
      left: auto; }
  .cdrop:hover > div {
    display: block; }

.cbdg {
  display: inline-block;
  padding: 0.3rem 0.65rem;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline; }
  .cbdg:empty {
    display: none; }
  .cbdg.dgrm {
    border-radius: 50rem; }
  .cbtn .cbdg {
    position: relative;
    top: -1px; }

.cnvbn {
  display: block;
  padding: 0.5rem 1rem;
  color: #fbfbfe;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out; }
  .cnvbn:hover, .cnvbn:focus {
    color: #fff; }
  .cnvbn.active {
    background: #16768C;
    color: #fbfbfe; }
  .cnvbn.disabled {
    color: #212529;
    pointer-events: none;
    cursor: default; }

.nvmnu {
  --nvlnk-font-size: 14px;
  --nvlnk-font-weight: 400;
  --nvlnk-cc: #fbfbfe;
  --nvlnk-cc-hover: #fbfbfe;
  --nvlnk-cc-disabled: #212529;
  --nvlnk-active: #16768C;
  --nvtgl-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  align-items: center;
  overflow: hidden;
  background: #212529; }
  .nvmnu.ctn, .nvmnu.ctn-f, .nvmnu.ctn-600, .nvmnu.ctn-900, .nvmnu.ctn-1200 {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between; }
  .nvmnu .nv-brd {
    display: block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer; }
  .nvmnu .nv-mnu a, .nvmnu .nv-mnu button {
    float: left;
    padding: 0.45rem 1rem;
    background: inherit;
    border: 0;
    font-size: var(--nvlnk-font-size);
    font-weight: var(--nvlnk-font-weight);
    color: var(--nvlnk-cc);
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    transition: all .15s ease-in-out; }
    .nvmnu .nv-mnu a:hover, .nvmnu .nv-mnu a:focus, .nvmnu .nv-mnu button:hover, .nvmnu .nv-mnu button:focus {
      isolation: isolate;
      color: var(--nvlnk-cc-hover); }
    .nvmnu .nv-mnu a:hover, .nvmnu .nv-mnu button:hover {
      box-shadow: inset 0 0 0 99rem rgba(255, 255, 255, 0.1); }
    .nvmnu .nv-mnu a:active, .nvmnu .nv-mnu a.active, .nvmnu .nv-mnu button:active, .nvmnu .nv-mnu button.active {
      background: var(--nvlnk-active); }
    .nvmnu .nv-mnu a.disabled, .nvmnu .nv-mnu button.disabled {
      color: var(--nvlnk-cc-disabled);
      pointer-events: none;
      cursor: default; }
  .nvmnu .nv-mnu .dpd {
    float: left;
    overflow: hidden; }
    .nvmnu .nv-mnu .dpd > div > * {
      float: none; }
  .nvmnu .nv-tgl {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    padding: 0.25rem 0.75rem;
    border: 0;
    border-radius: 0.375rem;
    background-color: transparent;
    background-image: var(--nvtgl-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
    transition: box-shadow .15s ease-in-out; }
    .nvmnu .nv-tgl:hover {
      text-decoration: none; }
    .nvmnu .nv-tgl:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: 0 0 0 var(0.25rem); }

/*# sourceMappingURL=style.css.map */