@import "_variable.scss";
@import "_mixin.scss";

// 폴드탭 (일명 아코디언)
.cacd {
  // 아이템
  &i {
    //background: inherit;
    //color: inherit;
  }
  // 눌러
  &b {
    outline: none;
    user-select: none;
    width: 100%;
    padding: .75rem .5rem;
    transition: transition(.15s, ease-in-out, color, background-color, box-shadow);
    text-align: left;
    // 애프터 (화살표)
    &::after {
      @include mi-icon(#{$accd-ic-after}, right) {
        margin-left: auto;
        transition: transition(.15s, ease-in-out, transform);
      }
    }
    // 애프터 뒤집기
    &.active::after {
      transform: rotate(-180deg);
    }
  }
  // 패널
  &p {
    display: none;
    overflow: hidden;
    padding: 0 1.1rem;
    // 액티브
    &.active {
      display: block;
    }
  }
  // 모서리
  &.bdr {
    .cacdi {
      border: 1px solid #{$accd-border};
      // 첫번째 제외 항목
      &:not(:first-of-type) {
        border-top: 0;
      }
    }
  }
}


// 탭
.ctab {
  // 목록
  &l {
    overflow: hidden;
  }
  // 눌러
  &b {
    float: left;
    outline: none;
    padding: .5rem 1rem;
    transition: transition(.15s, ease-in-out, all);
    user-select: none;
  }
  // 패널
  &p {
    display: none;
    margin-top: -1px;
    padding: .1rem 1rem;
    // 액티브
    &.active {
      display: block;
    }
  }
  // 모서리
  &.bdr {
    // 버튼 모서리
    .ctabb {
      border: 1px solid #{$tab-border};
      // 첫번째가 아니면 왼쪽 없앰
      &:not(:first-of-type) {
        border-left: 0;
      }
    }
    // 패널 모서리
    .ctabp {
      border: 1px solid #{$tab-border};
    }
  }
}


// 버튼
.cbtn {
  // 속성
  box-shadow: none;
  outline: none;
  user-select: none;
  display: inline-block;
  overflow: visible;
  width: auto;
  height: auto;
  margin: #{$btn-margin};
  padding: #{$btn-padding};
  transition: transition(.15s, ease-out, color, background-color, border-color, box-shadow);
  border-radius: #{$btn-border-radius};
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline;
}
// 사용자 정의 버튼
.usp.cbtn {
  // 호버&포커스
  &:focus,
  &:hover {
    box-shadow: inset 0 0 0 99rem #{$usp-btn-bg-hover};
  }
  // 액티브
  &:active,
  &.active {
    box-shadow: inset 0 0 0 99rem #{$usp-btn-bg-active};
  }
}


// 드랍다운 - 누름은 cbtn을 쓰므로 여기서 처리 안함
.cdrp {
  //
  display: inline-block;
  position: relative;
  // 호버
  &:hover > &c {
    display: block;
  }
  // 드랍 콘텐트
  &c {
    @include mi-bgcc(#{$drop-bg}, #{$drop-cc});
    border: 1px solid transparent;
    box-shadow: 0 .5rem 1rem 0 #{$drop-bg-empty};
    display: none;
    margin: 0;
    min-width: #{$drop-min-width};
    padding: 0;
    position: absolute;
    width: fit-content;
    z-index: 1;
    // 모서리
    &.bdr {
      border-color: #{$drop-border};
    }
    // 오른쪽 정렬
    &.rgt {
      left: auto;
      right: 0;
    }
  }
  // 아이템
  &m {
    display: block;
    padding: #{$drop-padding};
    white-space: nowrap;
  }
  // 가로줄
  &d {
    display: block;
    padding: #{$drop-padding};
    border-top: 1px solid #{$drop-hr};
    height: 0;
    margin: .1rem 0;
    opacity: .5;
    overflow: hidden;
    padding: 0;
  }
  // 버튼
  &b {
    display: block;
    padding: #{$drop-padding};
    transition: transition(.15s, ease-in-out, background-color);
    background: inherit; // 안하면 나브바 색깔 이상해짐;
    color: inherit; // 안하면 나브바 색깔 이상해짐;
    //text-align: inherit;
    text-decoration: none; // 안하면 나브바에서 밑줄 나옴;
    white-space: nowrap;
    // 호버 & 포커스
    &:hover,
    &:focus {
      background: #{$drop-hover};
      text-decoration: none;
    }
    // 액티브
    &:active,
    &.active {
      background: #{$drop-active};
    }
  }
}


// 뱃지
.cbdg {
  display: inline-block;
  padding: #{$bdg-padding};
  border-radius: #{$bdg-border-radius};
  font-size: #{$bdg-font-size};
  font-weight: #{$bdg-font-weight};
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  // 빈거
  &:empty {
    display: none;
  }
  // 동글
  &.dgrm {
    border-radius: #{$bdg-dgrm-radius};
  }
  // 눌러 안 뺏지
  .cbtn & {
    position: relative;
    top: -1px;
  }
}


// 나브 버튼
.cnvnr {
  // 속성
  color: #{$nv-cc};
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: transition(.15s, ease-in-out, color, background-color);
  // 호버
  &:hover,
  &:focus {
    @include mi-bgcc(#{$nv-bg-hover}, #{$nv-cc-hover});
  }
  // 액티브
  &.active {
    @include mi-bgcc(#{$nv-bg-active}, #{$nv-cc-active});
  }
  // 끔
  &.disabled {
    color: #{$nv-cc-disabled};
    cursor: default;
    pointer-events: none;
  }
}


// 나브바
.cnvb {
  // 속성
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: .25rem .5rem;
  // 토글 버튼
  &t {
    display: none;
    padding: .25rem .2rem;
    transition: transition(.15s, ease-in-out, box-shadow);
    background: transparent;
    border: 1px solid transparent;
    border-radius: .375rem;
    font-size: 1.25rem;
    line-height: 1;
    color: #{$nv-cc-toggle};
    // 호버
    &:hover {
      box-shadow: 0 0 0 .2rem;
    }
    // 토글 아이콘 - 메뉴
    & .ic-m {
      @include mi-icon($nv-ic-m, $size: 1.5rem) {
        display: inline-block;
        vertical-align: middle;
      }
    }
    // 토글 아이콘 - 닫기
    & .ic-x {
      @include mi-icon($nv-ic-x, $size: 1.5rem) {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  // 브랜드
  &d {
    display:flex;
    padding: .25rem .5rem .25rem 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #{$nv-cc-brd};
    text-decoration: none; // a용;
    align-items:center;
    white-space: nowrap;
  }
  // 목록
  &n {
    display: flex;
    flex: 1 auto;
    flex-direction: row;
  }
  // 아이템/링크 공통
  &m, &b {
    display: block;
    //position: static;
    margin: 0 .1rem;
    padding: .5rem 1rem;
    color: #{$nv-cc-item-list};
    // 끔
    &.disabled {
      color: #{$nv-cc-disabled};
      cursor: default;
      pointer-events: none;
    }
  }
  // 링크
  &b {
    border-radius: 4px;
    text-decoration: none;
    transition: transition(.15s, ease-in-out, color, background-color, box-shadow);
    // 호버 (포커스는 엄다)
    &:hover {
      box-shadow: inset 0 0 0 99rem #{$nv-a-bg-hover};
    }
    // 액티브
    &:active, &.active {
      background: #{$nv-bg-active};
    }
  }
  // 드랍 -> 안에 있는 버튼이 cnvbb를 받기 때문에 직접 건드리지 않아도 된다
  .cdrp {
    //
    display:block;
    position:static;
  }
  // 한줄정렬
  &j {
    & .cnbam, & .cnbab {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
      width: 100%;
    }
  }
}
// 나브바 크기에 따른 그것
@mixin cnvb-w($name, $width) {
  @media screen and (max-width: $width) {
    .cnvb#{$name} {
      // 토글 버튼
      .cnvbt {
        display: block;
      }
      // 목록
      .cnvbn {
        display: none;
        // 반응
        &.rsp {
          align-items: center;
          display: flex;
          flex-basis: 100%;
          flex-direction: column;
        }
      }
    }
  }
}
// 600
@include cnvb-w(6, $w6);
// 900
@include cnvb-w(9, $w9);
// 1200
@include cnvb-w(12, $w12);


