@import "_variables.scss";

// ACCD
.caccd {
  //
  --accd-bdr: #{$cc-border};
  --accd-ic-after: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  // 아이템
  & > div {
    // 눌러
    & > button {
      outline: none;
      padding: .75rem .5rem;
      text-align: left;
      transition: color .15s ease-in-out, background-color .15s ease-in-out;
      -webkit-user-select: none;
      user-select: none;
      width: 100%;
      // 애프터 (RIGHT ARROW)
      &:after {
        background: no-repeat var(--accd-ic-after);
        content: '';
        float: right;
        height: 1rem;
        margin-left: auto;
        transition: transform .15s ease-in-out;
        width: 1rem;
      }
      // 애프터 뒤집기
      &.active:after {
        transform: rotate(-180deg);
      }
    }
    // 패널
    & > div {
      display: none;
      overflow: hidden;
      padding: 0 1.1rem;
      // 액티브
      &.active {
        display: block;
      }
    }
  }
  // 모서리
  &.bdr {
    & > div {
      border: 1px solid var(--accd-bdr);
      // 두번째 부터는 위에 없음
      &:not(:first-of-type) {
        border-top: 0;
      }
    }
  }
}


// 탭
.ctab {
  //
  --tab-bdr: #{$cc-border};
  // 탭 목록
  & > div[role=tablist] {
    overflow: hidden;
    // 탭 눌러
    & > button {
      float: left;
      font-size: 1rem;
      outline: none;
      padding: .5rem 1rem;
      transition: .15s;
    }
  }
  // 패널
  & > div[role=tabpanel] {
    display: none;
    margin-top: -1px;
    padding: .1rem 1rem;
    // 액티브
    &.active {
      display: block;
    }
  }
  // 탭 모서리
  &.bdr {
    // 목록
    & > div[role=tablist] > button {
      border: 1px solid var(--tab-bdr);
      // 두번째 부터는 왼쪽 없음
      &:not(:first-of-type) {
        border-left: 0;
      }
    }
    // 패널
    & > div[role=tabpanel] {
      border: 1px solid var(--tab-bdr);
    }
  }
}


// 버튼
.cbtn {
  // 속성
  border-radius: .375rem;
  box-shadow: none;
  display: inline-block;
  height: auto;
  margin: .3rem 0;
  outline: none;
  overflow: visible;
  padding: .5rem .75rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition-duration: .15s;
  transition-property: color, background-color, border-color, box-shadow;
  transition-timing-function: ease-out;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: baseline;
  width: auto;
}
// 사용자 정의 버튼
.usp.cbtn {
  // 포커스 & 호버
  &:focus, &:hover {
    box-shadow: inset 0 0 0 99rem rgba(#333, .2);
  }
  // 액티브
  &:active, &.active {
    box-shadow: inset 0 0 0 99rem rgba(#fff, .1);
  }
}


// 드랍다운
// - 누름 버튼은 cbtn
// 본체
.cdrop {
  //
  --drop-bdr: #{$cc-border};
  --drop-bg: #{$cc-dark};
  --drop-cc: #{$cc};
  --drop-hr: #{$cc-border};
  --drop-hover: #{$normal-hover};
  --drop-active: #{$normal-active};
  // 속성
  display: inline-block;
  position: relative;
  // 콘텐트
  & > nav {
    background: var(--drop-bg);
    border: 1px solid transparent;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,.3);
    color: var(--drop-cc);
    display: none;
    margin: 0;
    min-width: 10rem;
    padding: 0;
    position: absolute;
    width: fit-content;
    z-index: 1;
    // 콘텐트 문장
    & > * {
      display: block;
      padding: .5rem 1rem;
    }
    // 콘텐트 가로줄
    & > hr {
      border-top: 1px solid var(--drop-hr);
      height: 0;
      margin: .1rem 0;
      opacity: .5;
      overflow: hidden;
      padding: 0;
    }
    // 콘텐트 버튼
    & > a {
      background: inherit;
      border: 0;
      clear: both;
      color: inherit;
      cursor: pointer;
      text-align: inherit;
      text-decoration: none;
      transition: background-color .15s ease-in-out;
      white-space: nowrap;
      // 호버 & 포커스
      &:hover, &:focus {
        background: var(--drop-hover);
        text-decoration: none;
      }
      // 액티브
      &:active, &.active {
        background: var(--drop-active);
      }
    }
    // 모서리
    &.bdr {
      border: 1px solid var(--drop-bdr);
    }
    // 오른쪽 정렬
    &.rgt {
      right: 0;
      left: auto;
    }
  }
  // 호버
  &:hover > nav {
    display: block;
  }
}


// 뱃지
.cbdg {
  border-radius: .375rem;
  display: inline-block;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1;
  padding: .3rem .65rem;
  vertical-align: baseline;
  white-space: nowrap;
  // 빈거
  &:empty {
    display: none;
  }
  // 동글
  &.dgrm {
    border-radius: 50rem;
  }
  // 눌러 안 뺏지
  .cbtn & {
    position: relative;
    top: -1px;
  }
}


// 나브 공통
.unv {
  --nv-cc: #{$normal-cc};
  --nv-cc-hover: #{$cc-white};
  --nv-cc-active: #{$normal-cc};
  --nv-cc-disabled: #{$cc-dark};
  --nv-cc-tgl: #{$cc-white};
  --nv-cc-brd: #{$cc-white};
  --nv-cc-lst: #{$cc};
  --nv-bg-hover: inherit;
  --nv-bg-active: #{$cc-accent};
  --nv-bdr: #{$cc-border};
  --nv-line-height: 1.25;
  --nv-ic-m: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --nv-ic-x: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}


// 나브 버튼
.cnvbn {
  // 속성
  color: var(--nv-cc);
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
  // 호버
  &:hover, &:focus {
    background: var(--nv-bg-hover);
    color: var(--nv-cc-hover);
  }
  // 액티브
  &.active {
    background: var(--nv-bg-active);
    color: var(--nv-cc-active);
  }
  // 끔
  &.disabled {
    color: var(--nv-cc-disabled);
    cursor: default;
    pointer-events: none;
  }
}


// 나브 바
.cnvba {
  // 속성
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .25rem 0;
  // 메뉴 표시 / 닫기
  & > button {
    display:none;
    background: transparent;
    border: 1px solid transparent;
    border-radius: .375rem;
    color: var(--nv-cc-tgl);
    font-size: 1.25rem;
    line-height: 1;
    padding: .25rem .2rem;
    transition: box-shadow .15s ease-in-out;
    // 호버
    &:hover {
      box-shadow: 0 0 0 .2rem;
    }
    // 메뉴 아이콘
    & > .mico {
      background: no-repeat var(--nv-ic-m);
      display: inline-block;
      height: 1.5rem;
      vertical-align: middle;
      width: 1.5rem;
    }
    // 닫기 아이콘
    & > .xico {
      background: no-repeat var(--nv-ic-x);
      display: inline-block;
      height: 1.5rem;
      vertical-align: middle;
      width: 1.5rem;
    }
  }
  // 브랜드
  & > a, & > div {
    color: var(--nv-cc-brd);
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: .25rem;
    margin-right: .5rem;
    padding-bottom: .25rem;
    padding-top: .25rem;
    white-space: nowrap;
  }
  // 브랜드 - a
  & > a {
    cursor: pointer;
    text-decoration: none;
  }
  // 목록
  & > nav {
    display: flex;
    flex: 1 auto;
    flex-direction: row;
    // 전부
    & > * {
      color: var(--nv-cc-lst);
      display: block;
      margin: 0 .1rem;
      padding: .5rem 1rem;
      height: var(--nv-line-height);
      line-height: var(--nv-line-height);
      position: static;
      -webkit-user-select: none;
      user-select: none;
      // 끔
      &.disabled {
        color: var(--nv-cc-disabled);
        cursor: default;
        pointer-events: none;
      }
    }
    // 링크
    & > a {
      border: 0;
      border-radius: 4px;
      text-decoration: none;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;
      // 호버 (포커스는 엄다)
      &:hover {
        box-shadow: inset 0 0 0 99rem rgba(#fff, .1);
      }
      // 액티브
      &:active, &.active {
        background: var(--nv-bg-active);
      }
    }
  }
}

@media screen and (max-width:900px)
{
  .cnvba > button {
    display: block;
  }
  .cnvba > nav {
    display: none;

    &.resp {
      position: relative;
      display: flex;
    }
  }
}