@import "include";

// 아코디언
.accd {
  // 배경색
  --accd-bg-text: #{$bg-ctrl};
  --accd-bg-hover: #{$bg-ctrl-hover};
  --accd-bg-active: #{$bg-ctrl-active}; // 글자색
  --accd-cc-text: #{$cc};
  --accd-cc-icon: #{$cc-ctrl-tool};
  --accd-cc-hover: #{$cc};
  --accd-cc-active: #{$cc-ctrl-active};
  --accd-cc-border: #{$cc-ctrl-bdr}; // 아이콘
  --accd-ic: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  // 아이템
  & > div {
    // 눌러
    & > button {
      outline: none;
      width: 100%;
      padding: 1rem 1.5rem;
      transition: 0.2s;
      background-color: var(--accd-bg-text);
      border: none;
      color: var(--accd-cc-text);
      text-align: left;
      // 호버
      &:hover {
        background-color: var(--accd-bg-hover);
        color: var(--accd-cc-hover);
      }
      // 애프터 (오른쪽 화살표)
      &:after {
        content: '';
        float: right;
        width: 1rem;
        height: 1rem;
        margin-left: auto;
        transition: transform 0.2s ease-in-out;
        background: var(--accd-ic) no-repeat 1rem;
      }
    }
    // 패널
    & > div {
      display: none;
      overflow: hidden;
      padding: 0 1.1rem;
    }
  }
  // 액티브
  & > div.active {
    // 눌러
    & > button {
      background-color: var(--accd-bg-active);
      color: var(--accd-cc-active);
      // 애프터 (오른쪽 화살표 -> 뒤집기)
      &:after {
        transform: rotate(-180deg);
      }
    }
    // 패널
    & > div {
      display: block;
    }
  }
}

// 보더
.accd-border > div {
  border: 1px solid var(--accd-cc-border);
  // 두번째부터는 위 보더 안넣음
  &:not(:first-of-type) {
    border-top: 0;
  }
}


// 탭
.tab {
  // 배경색
  --tab-bg: #{$bg-ctrl};
  --tab-bg-hover: #{$bg-ctrl-hover};
  --tab-bg-active: #{$bg-ctrl-active};
  // 글자색
  --tab-cc: #{$cc};
  --tab-cc-hover: #{$cc};
  --tab-cc-active: #{$cc-ctrl-active};
  --tab-cc-border: #{$cc-ctrl-bdr};
  // 탭 리스트
  & > div[role=tablist] {
    overflow: hidden;
    // 탭 눌러
    & > button {
      outline: none;
      float: left;
      padding: 1rem 1rem;
      transition: .2s;
      background: var(--tab-bg);
      border: none;
      font-size: 1rem;
      color: var(--tab-cc);
      // 호버
      &:hover {
        background-color: var(--tab-bg-hover);
        color: var(--tab-cc-hover);
      }
      // 액티브
      &.active {
        background-color: var(--tab-bg-active);
        color: var(--tab-cc-active);
      }
    }
  }
  // 패널
  & > div[role=tabpanel] {
    display: none;
    margin-top: -1px;
    padding: .1rem 1rem;
    // 액티브
    &.active {
      display: block;
    }
  }
}

// 보더
.tab-border {
  // 리스트
  & > div[role=tablist] > button {
    border: 1px solid var(--tab-cc-border);
    // 두번째부터는 왼쪽 보더 안넣음
    &:not(:first-of-type) {
      border-left: 0;
    }
  }
  // 패널
  & > div[role=tabpanel] {
    border: 1px solid var(--tab-cc-border);
  }
}


// 버튼 -> 눌러 = nulo
.nulo {
  // 배경색
  --nulo-bg: #{$bg-ctrl};
  // 글자색
  --nulo-cc: #{$cc};
  // 속성
  box-shadow: none;
  user-select: none;
  display: inline-block;
  width: auto;
  height: auto;
  margin: .3rem 0;
  padding: .2rem .75rem;
  transition: all .15s;
  background: var(--nulo-bg);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  color: var(--nulo-cc);
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  // 액티브
  &:active, &.active {
    box-shadow: inset 0 0 0 99rem, rgba(#333, .3);
  }
  // 포커스 & 호버
  &:focus, &:hover {
    box-shadow: inset 0 0 0 99rem rgba(#fff, .3);
  }
  // 색깔-primary
  &.primary {
    --nulo-bg: #{$bg-primary};
    --nulo-cc: #fff;
  }
  // 색깔-success
  &.success {
    --nulo-bg: #{$bg-success};
    --nulo-cc: #fff;
  }
  // 색깔-danger
  &.danger {
    --nulo-bg: #{$bg-danger};
    --nulo-cc: #fff;
  }
  // 색깔-warning
  &.warning {
    --nulo-bg: #{$bg-warning};
    --nulo-cc: #000;
  }
  // 색깔-info
  &.info {
    --nulo-bg: #{$bg-info};
    --nulo-cc: #000;
  }
  // 색깔-light
  &.light {
    --nulo-bg: #{$bg-light};
    --nulo-cc: #000;
  }
  // 색깔-dark
  &.dark {
    --nulo-bg: #{$bg-danger};
    --nulo-cc: #fff;
  }
}

// 가상
.usp.nulo {
  background-color: transparent;
  color: inherit;
}


// 드랍다운
.dpd {
  // 배경색
  --dpd-bg-drop: #{$bg-ctrl-panel};
  --dpd-bg-item: #{$bg-ctrl};
  --dpd-bg-hover: #{$bg-ctrl-hover};
  --dpd-bg-active: #{$bg-ctrl-active};
  // 글자색
  --dpd-cc-item: #{$cc};
  --dpd-cc-hover: #{$cc};
  --dpd-cc-active: #{$cc-ctrl-active};
  --dpd-cc-border: #{$cc-ctrl-bdr};
  // 일단 테스트로 보더
  position: relative;
  display: inline-block;
  // 콘텐트
  & > div {
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .2);
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 10rem;
    background: var(--dpd-bg-drop);
    // 그 아래꺼
    & > a, & > button {
      display: block;
      clear: both;
      width: 100%;
      padding: .5rem 1rem;
      background: transparent;
      border: 0;
      color: var(--dpd-cc-item);
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      transition: all .15s;
    }
    // 그 아래꺼 액티브
    & > a:active, & > a.active & > button:active, & > button.active {
      color: var(--dpd-cc-active);
      background: var(--dpd-bg-active);
    }
    // 그 아래꺼 호버
    & > a:hover, & > a:focus, & > button:hover, & > button:hover {
      color: var(--dpd-cc-hover);
      background: var(--dpd-bg-hover);
      text-decoration: none;
    }
    // 그 아래꺼 텍스트
    & > p, & > div, & > span {
      display: block;
      padding: .5rem 1rem;
      color: var(--dpd-cc-item);
    }
  }
  // 호버
  &:hover > div {
    display: block;
  }
}
