@import "_variable.scss";
@import "_mixin.scss";

$rsp-names: $wname;
$grid-count: 12;

$part-names: f 50 33 66 25 75 20 40 60 80 16;
$part-sizes: ( f: 100%, 50: 50%, 33: 33.33333%, 66: 66.6666%, 25: 25%, 75: 75%, 20: 20%, 40: 50%, 60: 60%, 80: 80%, 16: 16.16666%, );

// 레이아웃 확장
.lsp, .lspf, .lsp6, .lsp9, .lsp12, .lsp15 {
  margin-left: auto;
  margin-right: auto;
  padding: 0 .75rem;
  width: 100%;
}
// 600 이상
@include resmedia(min, 600) {
  .lsp6, .lsp {
    max-width: 600px;
  }
}
// 900 이상
@include resmedia(min, 900) {
  .lsp9, .lsp6, .lsp {
    max-width: 900px;
  }
}
// 1200 이상
@include resmedia(min, 1200) {
  .lsp12, .lsp9, .lsp6, .lsp {
    max-width: 1200px;
  }
}
// 1500 이상
@include resmedia(min, 1500) {
  .lsp15, .lsp12, .lsp9, .lsp6, .lsp {
    max-width: 1500px;
  }
}

// 줄 
.lr {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  transition: transition(.3s, ease, all);
}
// 줄 당 열 갯수
@for $i from 1 through $grid-count {
  .lr#{$i} > * {
    width: (100% / $i);
  }
}
// 크기별 줄 당 열 갯수
@each $r in $rsp-names {
  $size: ($r * 100);
  //
  @media (min-width: unquote($size + 'px')) {
    @for $i from 1 through $grid-count {
      .l#{$r}r#{$i} > * {
        width: (100% / $i);
      }
    }
  }
}

// 열
.lc {
  flex-grow: 0;
}
// 늘어나는 열
.lcg {
  flex-grow: 1;
}
// 센터 열
.lcj {
  justify-content: center;
}
// 열 크기
@each $p in $part-names {
  .lc#{$p} {
    width: map-get($part-sizes, $p);
  }
}
// 열 감춤
.lcn {
  display: none;
}
// 크기별 열
@each $r in $rsp-names {
  $size: ($r * 100);
  //
  @media (min-width: unquote($size + 'px')) {
    @each $p in $part-names {
      .l#{$r}c#{$p} {
        width: map-get($part-sizes, $p);
        display: block;
      }
    }
    //
    .l#{$r}cn {
      display: none;
    }
  }
}
