// 정의
$serif: "Malgun Gothic","Segoe UI","Apple SD Gothic Neo","Helvetica Neue","Noto Sans",Helvetica,Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol","Apple Color Emoji","Noto Color Emoji";

// 배경색
$bg: #212529; // 그냥 배경
$bg-ctrl: #1e1e1e; // 컨테이너 배경
$bg-ctrl-hover: #2b3035; // 마우스 호버 배경
$bg-ctrl-active: #031633; // 컨트롤 액티브 배경
$bg-ctrl-panel: #1e1e1e; // 컨트롤 패널 배경
$bg-primary: #0d6efd; // 흰글자
$bg-success: #198754; // 흰글자
$bg-danger: #dc3545; // 흰글자
$bg-warning: #ffc107; // 검은글자
$bg-info: #0dcaf0; // 검은글자
$bg-light: #f8f9fa; // 검은글자
$bg-dark: #212529;// 흰글자
// 글자색
$cc: #adb5bd; // 글자
$cc-ctrl-tool: #fff; // 컨트롤 도구 (예를 들어 ACCD의 인디케이터)
$cc-ctrl-active: #6ea8fe; // 컨트롤 액티브
$cc-ctrl-bdr: #495057; // 컨트롤 보더

// 크기 계산용
$space-spacing: 0.5rem;
$font-size: 1rem;

@function strip($value) {
  @return $value / ($value * 0 + 1);
}

@function em($px, $size: $font-size) {
  @return #{ strip($px) / strip($size) }em;
}

@function rem($px, $size: $font-size) {
  @return #{ strip($px) / strip($size) }rem;
}

@function spacing($space) {
  @return calc(#{ $space-spacing } * #{ $space });
}
