@import '_variables.scss';

// 바디
.body {
  //margin: 0;
  background-color: #{$bg};
  color: #{$cc};
  font-family: #{$serif};
  font-size: #{$font-size};
  //font-weight: #{$font-weight};
  //line-height: #{$line-height};
}

// 예제용
.dzex {
  --bdr: #a9f27d;
  --cc-pri: #838288;
  --cc-sec: #00ddff;
  //
  border: thick double var(--bdr);
  margin: .25rem .5rem;
  padding: 1rem 1.5rem;
  // 색깔1
  &.pri {
    border: 1px solid var(--cc-pri);
    border-radius: .375rem;
  }
  // 색깔1
  &.sec {
    border: 1px solid var(--cc-sec);
    border-radius: .375rem;
  }
}

// 보통
.vsnrm {
  background: #{$normal-bg};
  border: 1px solid transparent;
  color: #{$normal-cc};
  // 호버
  &:hover, &:focus {
    background: #{$normal-hover};
  }
  // 액티브
  &:active, &.active {
    background: #{$normal-active};
  }
}
// 낮은색
.vdnrm {
  background: #{$normal-bg};
  color: #{$normal-cc};
}
// 밝은색
.vunrm {
  background: #{$normal-active};
  color: #{$normal-cc};
}

// 화사하게
.vsspn {
  background: #{$splend-bg};
  border: 1px solid transparent;
  color: #{$splend-cc};
  // 호버
  &:hover, &:focus {
    background: #{$splend-hover};
  }
  // 액티브
  &:active, &.active {
    background: #{$splend-active};
  }
}
// 낮은색
.vdspn {
  background: #{$splend-bg};
  color: #{$splend-cc};
}
// 밝은색
.vuspn {
  background: #{$splend-active};
  color: #{$splend-cc};
}

// 심플
.vssme {
  background: #{$simple-bg};
  border: 1px solid transparent;
  color: #{$simple-cc};
  // 호버
  &:hover, &:focus {
    background: #{$simple-hover};
    color: #{$simple-cc-hover};
  }
  // 액티브
  &:active, &.active {
    background: #{$simple-active};
    color: #{$simple-cc};
  }
}
// 낮은색
.vdsme {
  background: #{$simple-bg};
  color: #{$simple-cc};
}
// 밝은색
.vusme {
  background: #{$simple-active};
  color: #{$simple-cc};
}

// 아웃라인
.vsoue {
  background: transparent;
  border: 1px solid #{$normal-bg};
  color: #{$cc};
  // 호버
  &:hover, &:focus {
    border: 1px solid #{$normal-hover};
  }
  // 액티브
  &:active, &.active {
    border: 1px solid #{$normal-active};
    color: #{$cc-accent};
  }
}
// 낮은색
.vdoue {
  background: transparent;
  border: 1px solid #{$normal-bg};
  color: #{$cc};
}
// 밝은색
.vuoue {
  border: 1px solid #{$normal-active};
  color: #{$cc-accent};
}

// 프라이머리
.vspri {
  background: #{$primary-bg};
  border: 1px solid transparent;
  color: #{$primary-cc};
  // 호버
  &:hover, &:focus {
    background: #{$primary-hover};
  }
  // 액티브
  &:active, &.active {
    background: #{$primary-active};
  }
}
// 낮은색
.vdpri {
  background: #{$primary-bg};
  color: #{$primary-cc};
}
// 밝은색
.vupri {
  background: #{$primary-active};
  color: #{$primary-cc};
}

// 레이아웃 확장
.lcn, .lcnf, .lcn6, .lcn9, .lcn12 {
  margin-left: auto;
  margin-right: auto;
  padding: 0 .75rem;
  width: 100%;
}
// 600 이상
@media (min-width: 600px) {
  .lcn6, .lcn {
    max-width: 600px;
  }
}
// 900 이상
@media (min-width:900px) {
  .lcn9, .lcn6, .lcn {
    max-width: 900px;
  }
}
// 1200 이상
@media (min-width:1200px) {
  .lcn12, .lcn9, .lcn6, .lcn {
    max-width: 1200px;
  }
}

// 자동 그림 크기
.pxa {
  height: auto;
  max-width: 100%;
  width: auto;
}
