@import "_variable.scss";
@import "_mixin.scss";

// 바디
.body {
  margin: 0;
  background-color: #{$bg};
  color: #{$cc};
  font-family: #{$serif};
  font-size: #{$font-size};
}

// 예제용
.dzex {
  //
  border: thick double #{$cc-border};
  border-radius: .375rem;
  margin: .5rem .5rem;
  padding: .5rem .5rem;
  // 색깔1
  & .pri {
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    border: 1px solid #{$cc-border};
    border-left: 5px solid #{$cc-ex-1};
    //border-radius: 0;
  }
  // 색깔1
  & .sec {
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    border: 1px solid #{$cc-border};
    border-left: 5px solid #{$cc-ex-2};
    //border-radius: 0;
  }
  // h4
  & h5 {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: 700;

    &:first-child {
      margin-top: .5rem;
    }
  }
  // P
  & p {
    margin-top: .5rem;
    margin-bottom: 0.25rem;
  }
}

// 아이콘
.dzi {
  position: relative;
  top: 1px;
  display: inline-block;
  speak: none;
  line-height: 1;
}

.dzi-bolt {
  background: #{$ic-bolt} no-repeat center center / contain;
}

// 보통
@include variant-color(nrm, $normal-cc, $normal-bg, $normal-hover, $normal-active);
// 화사하기
@include variant-color(spn, $splend-cc, $splend-bg, $splend-hover, $splend-active);
// 심플
@include variant-color(sme, $simple-cc, $simple-bg, $simple-hover, $simple-active);
// 아웃라인
@include variant-outline(oue, $cc, $normal-bg, $cc, $normal-hover, $cc-accent, $normal-active);
// 프라이머리
@include variant-color(pri, $primary-cc, $primary-bg, $primary-hover, $primary-active);
// 디지틀
@include variant-color(dgt, $digital-cc, $digital-bg, $digital-hover, $digital-active);

// 레이아웃 확장
.lcn, .lcnf, .lcn6, .lcn9, .lcn12 {
  margin-left: auto;
  margin-right: auto;
  padding: 0 .75rem;
  width: 100%;
}
// 600 이상
@include media-w6(min) {
  .lcn6, .lcn {
    max-width: 600px;
  }
}
// 900 이상
@include media-w9(min) {
  .lcn9, .lcn6, .lcn {
    max-width: 900px;
  }
}
// 1200 이상
@include media-w12(min) {
  .lcn12, .lcn9, .lcn6, .lcn {
    max-width: 1200px;
  }
}

// 자동 그림 크기
.pxa {
  height: auto;
  max-width: 100%;
  width: auto;
}

// 툴팁
[tooltip] {
  position: relative;

  &:after, &:before {
    user-select: none;
    position: absolute;
    z-index: 10;
    top: calc(100% - 6px);
    left: 0;
    opacity: 0;
    overflow: hidden;
    height: 0;
    margin-top: 12px;
    padding: 0;
    border-width: 0;
    transition: transition(.6s, ease, opacity, height);
  }

  &:after {
    content: attr(tooltip);
    display: inline-block;
    width: auto;
    background: #{$digital-bg};
    border: 0;
    border-radius: .2rem;
    font-size: .8rem;
    line-height: 1;
    color: #{$cc-white};
    text-align: center;
    letter-spacing: inherit;
    white-space: nowrap;
    vertical-align: middle;
  }

  &:before {
    content: '';
    left: 10px;
    width: 0;
    height: 0;
    margin-top: 0;
    border-width: 0;
    border-style: solid;
    border-color: transparent transparent #{$digital-bg};
  }

  &:hover:after, &:hover:before {
    opacity: 1;
    height: auto;
    border-width: 6px;
  }

  &:hover:after {
    padding: .45rem .9rem;
  }
}


// 반응
@for $i from 1 through 12 {
  .ld#{$i} > * {
    width: (100% / $i);
  }
}
