@import '_variable';

// 크기 계산용
$space-spacing: .5rem;

@function strip($value) {
  @return $value / ($value * 0 + 1);
}

@function em($px, $size: $font-size) {
  @return #{ strip($px) / strip($size) }em;
}

@function rem($px, $size: $font-size) {
  @return #{ strip($px) / strip($size) }rem;
}

@function spacing($space) {
  @return calc(#{ $space-spacing } * #{ $space });
}

// 트랜지션 ease(기본값)
@function transition-ease($duration, $names...) {
  $v: ();

  @each $n in $names {
    $v: append($v, ($n $duration), $separator: comma);
  }

  @return $v;
}

// 트랜지션 ease-in-out
@function transition-ease-in-out($duration, $names...) {
  $v: ();

  @each $n in $names {
    $v: append($v, ($n $duration ease-in-out), $separator: comma);
  }

  @return $v;
}

// 믹스 아이콘
@mixin mi-icon($icon, $float: 0, $size: 1rem) {
  background: no-repeat $icon;
  content: '';
  width: $size;
  height: $size;

  @if ($float != 0) {
    float: $float;
  }

  @content;
}

// 미디어 크기
@mixin resmedia($mm, $size) {
  @media (#{$mm}-width: quote($size+'px')) {
    @content;
  }
}
