// 정의
$serif: "Malgun Gothic", "Segoe UI", "Noto Sans", "Apple SD Gothic Neo", sans-serif;
$monospace: Consolas, monospace;

// 문서 기본
$font-size: 14px;
$font-weight: 400;
$line-height: 1.5;
$bg: #1c1b22;
$cc: #fbfbfe;

// 반응 크기
$wrsps: 6, 9, 12, 15;

// 기본 색깔
$cc-white: #fff;
$cc-light: #fbfbfe;
$cc-semi-light: #e5e5ee;
$cc-black: #000;
$cc-dark: #212529;
$cc-semi-dark: #2b2a33;

// 기능별 색깔
$cc-inv: $cc-white;
$cc-border: #838288;
$cc-hover: #3f3f43;
$cc-focus: transparent;
$cc-active: #545459;
$cc-accent: #16768c;
$cc-ex-1: #a9f27d;
$cc-ex-2: #00ddff;

// 기본 아이콘
$ic-warning: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="14" height="14" viewBox="0 0 8 8"%3E%3Cpath fill="currentColor" d="M3.09 0c-.06 0-.1.04-.13.09L.02 6.9c-.02.05-.03.13-.03.19v.81c0 .05.04.09.09.09h6.81c.05 0 .09-.04.09-.09v-.81c0-.05-.01-.14-.03-.19L4.01.09A.142.142 0 0 0 3.88 0h-.81zM3 3h1v2H3V3zm0 3h1v1H3V6z"%2F%3E%3C%2Fsvg%3E');
$ic-bolt: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="14" height="14" viewBox="0 0 8 8"%3E%3Cpath fill="currentColor" d="M4 0L1 5h2v3l3-5H4V0z"%2F%3E%3C%2Fsvg%3E');
