.du-example {
  padding: 1rem 1.5rem;
  margin: 0.5rem 1rem;
  border: thick double #a9f27d;

  &.purple {
    border: 2px solid rebeccapurple;
  }

  &.blue {
    border: 2px solid blue;
  }
}

.border-none {
  border-style: none !important;
}

.pos-static {
  position: static;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}

.cursor-pointer {
  cursor: pointer;
}

.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
