:root {
	--du-serif: "Malgun Gothic","Segoe UI","Apple SD Gothic Neo","Helvetica Neue","Noto Sans",Helvetica,Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol","Apple Color Emoji","Noto Color Emoji";
	// 배경색
	--du-bg: #1e1e1e;
	--du-bg-ctnr: #1e1e1e;
	--du-bg-active: #031633;
	// 글자색
	--du-clr: #adb5bd;
	--du-clr-tool: #fff;
	--du-clr-active: #6ea8fe;
	// 외곽선색
	--du-bdr-ctnr: #495057;
}

$du-space-spacing: 0.5rem;
$du-font-name: var(--du-serif);
$du-font-size: 1rem;

@function strip($value) {
	@return $value / ($value * 0 + 1);
}

@function em($px, $font-size: $du-font-size) {
	@return #{ strip($px) / strip($font-size) }em;
}

@function rem($px) {
	@return #{ strip($px) / strip($du-font-size) }rem;
}

@function spacing($space) {
	@return calc(#{ $du-space-spacing } * #{ $space });
}
