@import "../_variable.scss";
@import "../_mixin.scss";

// 뱃지
.cbdg {
  display: inline-block;
  padding: #{$bdg-padding};
  border-radius: #{$bdg-border-radius};
  font-size: #{$bdg-font-size};
  font-weight: #{$bdg-font-weight};
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  // 빈거
  &:empty {
    display: none;
  }
  // 동글
  &.dgrm {
    border-radius: #{$bdg-dgrm-radius};
  }
  // 눌러 안 뺏지
  .cbtn & {
    position: relative;
    top: -1px;
  }
}
