@import "../_variable";
@import "../_mixin";

$grid-rsps: $wrsps;
$grid-count: 10;

$grid-cell-name: 33 66 25 75 16;
$grid-cell-data: (33: 33.33333%, 66: 66.66666%, 25: 25%, 75: 75%, 16: 16.66666%);

// 줄
.lr {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  //transition: transition(.3s, ease, all);
}
// 줄 당 열 갯수
@for $i from 1 through $grid-count {
  .lr#{$i} > * {
    width: (100% / $i);
  }
}
// 크기별 줄 당 열 갯수
@each $r in $grid-rsps {
  $size: ($r * 100);
  //
  @media (min-width: unquote($size + 'px')) {
    @for $i from 1 through $grid-count {
      .l#{$r}r#{$i} > * {
        width: (100% / $i);
      }
    }
  }
}

// 열
.lc {
  flex: 0 1 auto;
}
// 늘어나는 열
.lcg {
  flex: 1 1 auto;
}
// 열 크기
@for $i from 1 through $grid-count {
  .lc#{$i} {
    width: (($i / $grid-count) * 100%);
  }
}
// 추가 열 크기
@each $p in $grid-cell-name {
  .lc#{$p} {
    width: map-get($grid-cell-data, $p);
  }
}
// 열 감춤
.lc0 {
  display: none;
}
// 크기별 열

@each $r in $grid-rsps {
  $size: ($r * 100);
  //
  @media (min-width: unquote($size + 'px')) {
    @for $i from 1 through $grid-count {
      .l#{$r}c#{$i} {
        width: (($i / $grid-count) * 100%);
        //display: block;
      }
    }
    //
    @each $p in $grid-cell-name {
      .l#{$r}c#{$p} {
        width: map-get($grid-cell-data, $p);
        //display: block;
      }
    }
    //
    .l#{$r}c0 {
      display: none;
    }
  }
}
