// 눌러
.vnulo {
  // 뱃지
  --cbdg-rad: .375rem;
  --cbdg-fsz: .75rem;
  --cbdg-fwgt: 700;
  --cbdg-pg: .3rem .65rem;
  --cbdg-dgrm: 50rem;
  // 버튼
  --cbtn-mn: .3rem 0;
  --cbtn-pg: .5rem .75rem;
  --cbtn-rad: .375rem;
  // 드랍
  --cdrp-bdr: var(--cc-border);
  --cdrp-bg: var(--cc-panel);
  --cdrp-cc: var(--cc);
  --cdrp-hover: var(--cc-hover);
  --cdrp-active: var(--cc-active);
  --cdrp-pg: .5rem 1rem;
  --cdrp-shd: rgba(0,0,0,.3);
}

// 사용자 정의
.usp {
  --usp-cbtn-hover: rgba(51,51,51,.2);
  --usp-cbtn-active: rgba(255,255,255,.1);
}

// 뱃지
.cbdg {
  display: inline-block;
  padding: var(--cbdg-pg);
  border-radius: var(--cbdg-rad);
  font-size: var(--cbdg-fsz);
  font-weight: var(--cbdg-fwgt);
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  // 빈거
  &:empty {
    display: none;
  }
  // 동글
  &.dgrm {
    border-radius: var(--cbdg-dgrm);
  }
  // 눌러 안 뺏지
  .cbtn & {
    position: relative;
    top: -1px;
  }
}


// 버튼
.cbtn {
  // 속성
  box-shadow: none;
  outline: none;
  user-select: none;
  display: inline-block;
  overflow: visible;
  width: auto;
  height: auto;
  margin: var(--cbtn-mn);
  padding: var(--cbtn-pg);
  transition: transition(.15s, ease-out, color, background-color, border-color, box-shadow);
  border-radius: var(--cbtn-rad);
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline;
  cursor: pointer;
}

.usp.cbtn {
  // 호버&포커스
  &:focus,
  &:hover {
    box-shadow: inset 0 0 0 99rem var(--usp-cbtn-hover);
  }
  // 액티브
  &:active,
  &.active {
    box-shadow: inset 0 0 0 99rem var(--usp-cbtn-active);
  }
}


// 드랍다운 - 누름은 cbtn을 쓰므로 여기서 처리 안함
.cdrp {
  //
  display: inline-block;
  position: relative;
  // 호버
  &:hover > &c {
    display: block;
  }
  // 드랍 콘텐트
  &c {
    background: var(--cdrp-bg);
    color: var(--cdrp-cc);
    border: 1px solid transparent;
    box-shadow: 0 .5rem 1rem 0 var(--cdrp-shd);
    display: none;
    margin: 0;
    min-width: 10rem;
    padding: 0;
    position: absolute;
    width: fit-content;
    z-index: 1;
    // 모서리
    &.bdr {
      border-color: var(--cdrp-bdr);
    }
    // 오른쪽 정렬
    &.rgt {
      left: auto;
      right: 0;
    }
  }
  // 아이템
  &m {
    display: block;
    padding: var(--cdrp-pg);
    white-space: nowrap;
  }
  // 가로줄
  &d {
    display: block;
    border: 0;
    border-top: 1px solid var(--cdrp-bdr);
    height: 0;
    padding: 0;
    margin: .1rem 0;
    opacity: .5;
    overflow: hidden;
  }
  // 버튼
  &b {
    display: block;
    padding: var(--cdrp-pg);
    transition: transition(.15s, ease-in-out, background-color);
    background: inherit; // 안하면 나브바 색깔 이상해짐;
    color: inherit; // 안하면 나브바 색깔 이상해짐;
    //text-align: inherit;
    text-decoration: none; // 안하면 나브바에서 밑줄 나옴;
    white-space: nowrap;
    // 호버 & 포커스
    &:hover,
    &:focus {
      background: var(--cdrp-hover);
      text-decoration: none;
    }
    // 액티브
    &:active,
    &.active {
      background: var(--cdrp-active);
    }
  }
}
