@import "../include.scss";

// 탭
.tab {
  // 배경색
  --tab-bg: #{$bg-ctrl};
  --tab-bg-hover: #{$bg-ctrl-hover};
  --tab-bg-active: #{$bg-ctrl-active};
  // 글자색
  --tab-cc: #{$cc};
  --tab-cc-hover: #{$cc};
  --tab-cc-active: #{$cc-ctrl-active};
  --tab-cc-border: #{$cc-ctrl-bdr};
  // 탭 리스트
  & > div[role=tablist] {
    overflow: hidden;
    // 탭 눌러
    & > button {
      float: left;
      padding: 1rem 1rem;
      color: var(--tab-cc);
      background: var(--tab-bg);
      border: none;
      outline: none;
      font-size: 1rem;
      transition: .2s;
      // 호버
      &:hover {
        color: var(--tab-cc-hover);
        background-color: var(--tab-bg-hover);
      }
      // 액티브
      &.active {
        color: var(--tab-cc-active);
        background-color: var(--tab-bg-active);
      }
    }
  }
  // 패널
  & > div[role=tabpanel] {
    display: none;
    padding: .1rem 1rem;
    margin-top: -1px;
    // 액티브
    &.active {
      display: block;
    }
  }
}

// 보더
.tab-border {
  // 리스트
  & > div[role=tablist] > button {
    border: 1px solid var(--tab-cc-border);
    // 두번째부터는 왼쪽 보더 안넣음
    &:not(:first-of-type) {
      border-left: 0;
    }
  }
  // 패널
  & > div[role=tabpanel] {
    border: 1px solid var(--tab-cc-border);
  }
}
