@import "../_variable.scss";
@import "../_mixin.scss";

// 바리언트
.vk {
  //
  --vt-cc: var(--cc-cc);
  --vt-bg: var(--cc-nrm);
  --vt-bdr: transparent;
  --vt-hov-cc: var(--cc-cc);
  --vt-hov-bg: var(--cc-hov);
  --vt-hov-bdr: transparent;
  --vt-atv-cc: var(--cc-cc);
  --vt-atv-bg: var(--cc-atv);
  --vt-atv-bdr: transparent;
  //
  color: var(--vt-cc);
  background: var(--vt-bg);
  border: 1px solid var(--vt-bdr);
  // 호버&포커스
  &:hover, &:focus {
    color: var(--vt-hov-cc);
    background: var(--vt-hov-bg);
    border-color: var(--vt-hov-bdr);
  }
  // 액티브
  &:active, &.active {
    color: var(--vt-atv-cc);
    background: var(--vt-atv-bg);
    border-color: var(--vt-atv-bdr);
  }
}
// 낮은색
.vd {
  --vt-cc: var(--cc-cc);
  --vt-bg: var(--cc-nrm);
  //
  color: var(--vt-cc);
  background: var(--vt-bg);
}
// 높은색
.vw {
  --vt-atv-cc: var(--cc-cc);
  --vt-atv-bg: var(--cc-atv);
  color: var(--vt-atv-cc);
  background: var(--vt-atv-bg);
}
// 화사
.vssp {
  --vt-bg: #16424e;
  --vt-hov-bg: #126072;
  --vt-atv-bg: #16768c;
}
// 화사 라이트
[data-theme="light"] .vssp {
  --vt-bg: #0b7b6a;
  --vt-hov-bg: #0c8473;
  --vt-atv-bg: #0d9382;
}
// 심플
.vsse {
  --vt-bg: transparent;
  --vt-hov-bg: transparent;
}
// 아웃라인
.vsoe {
  --vt-bg: var(--cc-bg);
  --vt-bdr: var(--cc-nrm);
  --vt-hov-bg: var(--cc-bg);
  --vt-hov-bdr: var(--cc-hov);
  --vt-atv-cc: var(--cc-acc);
  --vt-atv-bg: var(--cc-bg);
  --vt-atv-bdr: var(--cc-atv);
}
// 프라이머리
.vspr {
  --vt-bg: #023b8f;
  --vt-hov-bg: #012e7f;
  --vt-atv-bg: #0360b9;
}
// 프라이머리 라이트
[data-theme="light"] .vspr {
  --vt-bg: #0360b9;
  --vt-hov-bg: #023b8f;
  --vt-atv-bg: #012e7f;
}
// 디지탈
.vsdt {
  --vt-bg: #ff6a00;
  --vt-hov-bg: #ff6444;
  --vt-atv-bg: #ca3e12;
}
// 다크
.vsdk {
  --vt-bg: #1c1b22;
  --vt-hov-bg: #3f3f43;
  --vt-atv-bg: #545459;
}

// 흰글씨
.vssp, .vspr, .vsdt, .vsdk {
  --vt-cc: #{$cc-white};
  --vt-hov-cc: #{$cc-white};
  --vt-atv-cc: #{$cc-white};
}

