@import "../include.scss";

// 탭
.tab {
  // 배경색
  --tab-bg: #{$bg};
  --tab-bg-nulo: #{$bg-ctrl};
  --tab-bg-hover: #{$bg-ctrl-hover};
  --tab-bg-active: #{$bg-ctrl-active};
  --tab-bg-pnl: #{$bg-ctrl-panel};
  // 글자색
  --tab-cc: #{$cc};
  --tab-cc-active: #{$cc-ctrl-active};
  --tab-cc-bdr: #{$cc-ctrl-bdr};
  // 탭버튼
  & .lst {
    overflow: hidden;
    background-color: var(--tab-bg);
    // 눌러
    & .nulo {
      background-color: var(--tab-bg-nulo);
      float: left;
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      transition: 0.3s;
      font-size: 1rem;
      // 눌러 호버
      &:hover {
        background-color: var(--tab-bg-hover);
      }
      // 액티브
      &.active {
        background-color: var(--tab-bg-active);
        color: var(--tab-cc-active);
      }
    }
  }
  // 패널
  & .pnl {
    display: none;
    padding: .1rem 1.1rem;
    background-color: var(--tab-bg-pnl);
    color: var(--tab-cc);
    //액티브
    &.active {
      display: block;
    }
  }
  // 보더
  &.bdr {
    // 탭버튼 보더
    & .lst {
      border: 1px solid var(--tab-cc-bdr);
    }
    // 탭 패널 보드
    & .pnl {
      border: 1px solid var(--tab-cc-bdr);
      border-top: 0;
    }
  }
}
