.d-font {
  font-family: "Malgun Gothic", "Segoe UI", "Apple SD Gothic Neo", "Helvetica Neue", "Noto Sans", Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", "Noto Color Emoji"; }

.d-ccbg {
  background-color: #212529;
  color: #adb5bd; }

.d-ex {
  padding: 1rem 1.5rem;
  margin: 0.5rem 1rem;
  border: thick double #a9f27d; }
  .d-ex.purple {
    border: 2px solid rebeccapurple; }
  .d-ex.blue {
    border: 2px solid blue; }

.accd {
  --accd-bg-text: #1e1e1e;
  --accd-bg-hover: #2b3035;
  --accd-bg-active: #031633;
  --accd-cc-text: #adb5bd;
  --accd-cc-icon: #fff;
  --accd-cc-hover: #adb5bd;
  --accd-cc-active: #6ea8fe;
  --accd-cc-border: #495057;
  --accd-ic: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }
  .accd > div > button {
    width: 100%;
    padding: 1rem 1.5rem;
    text-align: left;
    color: var(--accd-cc-text);
    background-color: var(--accd-bg-text);
    border: none;
    outline: none;
    transition: 0.2s; }
    .accd > div > button:hover {
      color: var(--accd-cc-hover);
      background-color: var(--accd-bg-hover); }
    .accd > div > button:after {
      float: right;
      width: 1rem;
      height: 1rem;
      margin-left: auto;
      content: '';
      background: var(--accd-ic) no-repeat 1rem;
      transition: transform 0.2s ease-in-out; }
  .accd > div > div {
    display: none;
    overflow: hidden;
    padding: 0 1.1rem; }
  .accd > div.active > button {
    color: var(--accd-cc-active);
    background-color: var(--accd-bg-active); }
    .accd > div.active > button:after {
      transform: rotate(-180deg); }
  .accd > div.active > div {
    display: block; }

.accd-border > div {
  border: 1px solid var(--accd-cc-border); }
  .accd-border > div:not(:first-of-type) {
    border-top: 0; }

.tab {
  --tab-bg: #1e1e1e;
  --tab-bg-hover: #2b3035;
  --tab-bg-active: #031633;
  --tab-cc: #adb5bd;
  --tab-cc-hover: #adb5bd;
  --tab-cc-active: #6ea8fe;
  --tab-cc-border: #495057; }
  .tab > div[role=tablist] {
    overflow: hidden; }
    .tab > div[role=tablist] > button {
      float: left;
      padding: 1rem 1rem;
      color: var(--tab-cc);
      background: var(--tab-bg);
      border: none;
      outline: none;
      font-size: 1rem;
      transition: .2s; }
      .tab > div[role=tablist] > button:hover {
        color: var(--tab-cc-hover);
        background-color: var(--tab-bg-hover); }
      .tab > div[role=tablist] > button.active {
        color: var(--tab-cc-active);
        background-color: var(--tab-bg-active); }
  .tab > div[role=tabpanel] {
    display: none;
    padding: .1rem 1rem;
    margin-top: -1px; }
    .tab > div[role=tabpanel].active {
      display: block; }

.tab-border > div[role=tablist] > button {
  border: 1px solid var(--tab-cc-border); }
  .tab-border > div[role=tablist] > button:not(:first-of-type) {
    border-left: 0; }

.tab-border > div[role=tabpanel] {
  border: 1px solid var(--tab-cc-border); }

@keyframes e-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes e-fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/*# sourceMappingURL=content.css.map */