/*!
 * DuLib.Blazor cascading style sheet, by ksh 2023
 */
:root {
  --cc-cc: #fbfbfe;
  --cc-bg: #1c1b22;
  --cc-inv: #fff;
  --cc-bdr: #838288;
  --cc-hov: #3f3f43;
  --cc-foc: transparent;
  --cc-atv: #545459;
  --cc-acc: #16768c;
  --cc-dsd: #212529;
  --cc-pnl: #212529;
  --cc-nrm: #2b2a33;
  --cc-shd: rgba(255,255,255,.2); }

[data-theme=light] {
  --cc-cc: #212529;
  --cc-bg: #fbfbfe;
  --cc-inv: #000;
  --cc-bdr: #58585f;
  --cc-hov: #b8b8bf;
  --cc-atv: #d0d0d9;
  --cc-acc: #308096;
  --cc-dsd: #212529;
  --cc-pnl: #fbfbfe;
  --cc-nrm: #e5e5ee;
  --cc-shd: rgba(0,0,0,.2); }

body, .dzbody {
  margin: 0;
  color: var(--cc-cc);
  background-color: var(--cc-bg);
  font-family: Malgun Gothic, Segoe UI, Noto Sans, Apple SD Gothic Neo, sans-serif;
  font-size: 14px;
  padding: 0; }

.dzex {
  border: thick double var(--cc-bdr);
  border-radius: .375rem;
  margin: .5rem .5rem;
  padding: .5rem .5rem; }
  .dzex > .pri {
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    border: 1px solid var(--cc-bdr);
    border-left: 5px solid #a9f27d; }
  .dzex > .sec {
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    border: 1px solid var(--cc-bdr);
    border-left: 5px solid #00ddff; }
  .dzex > h5 {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: 700; }
    .dzex > h5:first-child {
      margin-top: .5rem; }
  .dzex > p {
    margin-top: .5rem;
    margin-bottom: 0.25rem; }

.dzi {
  position: relative;
  top: 1px;
  display: inline-block;
  speak: none;
  line-height: 1; }

.dzib {
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="14" height="14" viewBox="0 0 8 8"%3E%3Cpath fill="currentColor" d="M4 0L1 5h2v3l3-5H4V0z"%2F%3E%3C%2Fsvg%3E') no-repeat center center/contain; }

.sjcs {
  justify-content: start; }

.sjce {
  justify-content: end; }

.sjcc {
  justify-content: center; }

.sjceb {
  justify-content: space-between; }

.sjcea {
  justify-content: space-around; }

.sjcee {
  justify-content: space-evenly; }

.smta {
  margin-top: auto; }

.smba {
  margin-bottom: auto; }

.smsa {
  margin-left: auto; }

.smea {
  margin-right: auto; }

@keyframes e-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes e-fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes e-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.vk {
  --vt-cc: var(--cc-cc);
  --vt-bg: var(--cc-nrm);
  --vt-bdr: transparent;
  --vt-hov-cc: var(--cc-cc);
  --vt-hov-bg: var(--cc-hov);
  --vt-hov-bdr: transparent;
  --vt-atv-cc: var(--cc-cc);
  --vt-atv-bg: var(--cc-atv);
  --vt-atv-bdr: transparent;
  color: var(--vt-cc);
  background: var(--vt-bg);
  border: 1px solid var(--vt-bdr); }
  .vk:hover, .vk:focus {
    color: var(--vt-hov-cc);
    background: var(--vt-hov-bg);
    border-color: var(--vt-hov-bdr); }
  .vk:active, .vk.active {
    color: var(--vt-atv-cc);
    background: var(--vt-atv-bg);
    border-color: var(--vt-atv-bdr); }

.vd {
  --vt-cc: var(--cc-cc);
  --vt-bg: var(--cc-nrm);
  color: var(--vt-cc);
  background: var(--vt-bg); }

.vw {
  --vt-atv-cc: var(--cc-cc);
  --vt-atv-bg: var(--cc-atv);
  color: var(--vt-atv-cc);
  background: var(--vt-atv-bg); }

.vssp {
  --vt-bg: #16424e;
  --vt-hov-bg: #126072;
  --vt-atv-bg: #16768c; }

[data-theme="light"] .vssp {
  --vt-bg: #0b7b6a;
  --vt-hov-bg: #0c8473;
  --vt-atv-bg: #0d9382; }

.vsse {
  --vt-bg: transparent;
  --vt-hov-bg: transparent; }

.vsoe {
  --vt-bg: var(--cc-bg);
  --vt-bdr: var(--cc-nrm);
  --vt-hov-bg: var(--cc-bg);
  --vt-hov-bdr: var(--cc-hov);
  --vt-atv-cc: var(--cc-acc);
  --vt-atv-bg: var(--cc-bg);
  --vt-atv-bdr: var(--cc-atv); }

.vspr {
  --vt-bg: #023b8f;
  --vt-hov-bg: #012e7f;
  --vt-atv-bg: #0360b9; }

[data-theme="light"] .vspr {
  --vt-bg: #0360b9;
  --vt-hov-bg: #023b8f;
  --vt-atv-bg: #012e7f; }

.vsdt {
  --vt-bg: #ff6a00;
  --vt-hov-bg: #ff6444;
  --vt-atv-bg: #ca3e12; }

.vsdk {
  --vt-bg: #1c1b22;
  --vt-hov-bg: #3f3f43;
  --vt-atv-bg: #545459; }

.vssp, .vspr, .vsdt, .vsdk {
  --vt-cc: #fff;
  --vt-hov-cc: #fff;
  --vt-atv-cc: #fff; }

.lsp, .lspf, .lsp6, .lsp9, .lsp12, .lsp15 {
  margin-left: auto;
  margin-right: auto;
  padding: 0 .75rem;
  width: 100%; }

@media (min-width: 600px) {
  .lsp6, .lsp {
    max-width: 600px; } }
@media (min-width: 900px) {
  .lsp9, .lsp6, .lsp {
    max-width: 900px; } }
@media (min-width: 1200px) {
  .lsp12, .lsp9, .lsp6, .lsp {
    max-width: 1200px; } }
@media (min-width: 1500px) {
  .lsp15, .lsp12, .lsp9, .lsp6, .lsp {
    max-width: 1500px; } }
.lr {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }

.lr1 > * {
  width: 100%; }

.lr2 > * {
  width: 50%; }

.lr3 > * {
  width: 33.33333%; }

.lr4 > * {
  width: 25%; }

.lr5 > * {
  width: 20%; }

.lr6 > * {
  width: 16.66667%; }

.lr7 > * {
  width: 14.28571%; }

.lr8 > * {
  width: 12.5%; }

.lr9 > * {
  width: 11.11111%; }

.lr10 > * {
  width: 10%; }

@media (min-width: 600px) {
  .l6r1 > * {
    width: 100%; }

  .l6r2 > * {
    width: 50%; }

  .l6r3 > * {
    width: 33.33333%; }

  .l6r4 > * {
    width: 25%; }

  .l6r5 > * {
    width: 20%; }

  .l6r6 > * {
    width: 16.66667%; }

  .l6r7 > * {
    width: 14.28571%; }

  .l6r8 > * {
    width: 12.5%; }

  .l6r9 > * {
    width: 11.11111%; }

  .l6r10 > * {
    width: 10%; } }
@media (min-width: 900px) {
  .l9r1 > * {
    width: 100%; }

  .l9r2 > * {
    width: 50%; }

  .l9r3 > * {
    width: 33.33333%; }

  .l9r4 > * {
    width: 25%; }

  .l9r5 > * {
    width: 20%; }

  .l9r6 > * {
    width: 16.66667%; }

  .l9r7 > * {
    width: 14.28571%; }

  .l9r8 > * {
    width: 12.5%; }

  .l9r9 > * {
    width: 11.11111%; }

  .l9r10 > * {
    width: 10%; } }
@media (min-width: 1200px) {
  .l12r1 > * {
    width: 100%; }

  .l12r2 > * {
    width: 50%; }

  .l12r3 > * {
    width: 33.33333%; }

  .l12r4 > * {
    width: 25%; }

  .l12r5 > * {
    width: 20%; }

  .l12r6 > * {
    width: 16.66667%; }

  .l12r7 > * {
    width: 14.28571%; }

  .l12r8 > * {
    width: 12.5%; }

  .l12r9 > * {
    width: 11.11111%; }

  .l12r10 > * {
    width: 10%; } }
@media (min-width: 1500px) {
  .l15r1 > * {
    width: 100%; }

  .l15r2 > * {
    width: 50%; }

  .l15r3 > * {
    width: 33.33333%; }

  .l15r4 > * {
    width: 25%; }

  .l15r5 > * {
    width: 20%; }

  .l15r6 > * {
    width: 16.66667%; }

  .l15r7 > * {
    width: 14.28571%; }

  .l15r8 > * {
    width: 12.5%; }

  .l15r9 > * {
    width: 11.11111%; }

  .l15r10 > * {
    width: 10%; } }
.lc {
  flex: 0 1 auto; }

.lcg {
  flex: 1 1 auto; }

.lc1 {
  width: 10%; }

.lc2 {
  width: 20%; }

.lc3 {
  width: 30%; }

.lc4 {
  width: 40%; }

.lc5 {
  width: 50%; }

.lc6 {
  width: 60%; }

.lc7 {
  width: 70%; }

.lc8 {
  width: 80%; }

.lc9 {
  width: 90%; }

.lc10 {
  width: 100%; }

.lc33 {
  width: 33.33333%; }

.lc66 {
  width: 66.66666%; }

.lc25 {
  width: 25%; }

.lc75 {
  width: 75%; }

.lc16 {
  width: 16.66666%; }

.lc0 {
  display: none; }

@media (min-width: 600px) {
  .l6c1 {
    width: 10%; }

  .l6c2 {
    width: 20%; }

  .l6c3 {
    width: 30%; }

  .l6c4 {
    width: 40%; }

  .l6c5 {
    width: 50%; }

  .l6c6 {
    width: 60%; }

  .l6c7 {
    width: 70%; }

  .l6c8 {
    width: 80%; }

  .l6c9 {
    width: 90%; }

  .l6c10 {
    width: 100%; }

  .l6c33 {
    width: 33.33333%; }

  .l6c66 {
    width: 66.66666%; }

  .l6c25 {
    width: 25%; }

  .l6c75 {
    width: 75%; }

  .l6c16 {
    width: 16.66666%; }

  .l6c0 {
    display: none; } }
@media (min-width: 900px) {
  .l9c1 {
    width: 10%; }

  .l9c2 {
    width: 20%; }

  .l9c3 {
    width: 30%; }

  .l9c4 {
    width: 40%; }

  .l9c5 {
    width: 50%; }

  .l9c6 {
    width: 60%; }

  .l9c7 {
    width: 70%; }

  .l9c8 {
    width: 80%; }

  .l9c9 {
    width: 90%; }

  .l9c10 {
    width: 100%; }

  .l9c33 {
    width: 33.33333%; }

  .l9c66 {
    width: 66.66666%; }

  .l9c25 {
    width: 25%; }

  .l9c75 {
    width: 75%; }

  .l9c16 {
    width: 16.66666%; }

  .l9c0 {
    display: none; } }
@media (min-width: 1200px) {
  .l12c1 {
    width: 10%; }

  .l12c2 {
    width: 20%; }

  .l12c3 {
    width: 30%; }

  .l12c4 {
    width: 40%; }

  .l12c5 {
    width: 50%; }

  .l12c6 {
    width: 60%; }

  .l12c7 {
    width: 70%; }

  .l12c8 {
    width: 80%; }

  .l12c9 {
    width: 90%; }

  .l12c10 {
    width: 100%; }

  .l12c33 {
    width: 33.33333%; }

  .l12c66 {
    width: 66.66666%; }

  .l12c25 {
    width: 25%; }

  .l12c75 {
    width: 75%; }

  .l12c16 {
    width: 16.66666%; }

  .l12c0 {
    display: none; } }
@media (min-width: 1500px) {
  .l15c1 {
    width: 10%; }

  .l15c2 {
    width: 20%; }

  .l15c3 {
    width: 30%; }

  .l15c4 {
    width: 40%; }

  .l15c5 {
    width: 50%; }

  .l15c6 {
    width: 60%; }

  .l15c7 {
    width: 70%; }

  .l15c8 {
    width: 80%; }

  .l15c9 {
    width: 90%; }

  .l15c10 {
    width: 100%; }

  .l15c33 {
    width: 33.33333%; }

  .l15c66 {
    width: 66.66666%; }

  .l15c25 {
    width: 25%; }

  .l15c75 {
    width: 75%; }

  .l15c16 {
    width: 16.66666%; }

  .l15c0 {
    display: none; } }
.cbtn {
  --btn-mn: .3rem 0;
  --btn-pg: .5rem .75rem;
  --btn-rad: .375rem;
  box-shadow: none;
  outline: none;
  user-select: none;
  display: inline-block;
  overflow: visible;
  width: auto;
  height: auto;
  margin: var(--btn-mn);
  padding: var(--btn-pg);
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  border-radius: var(--btn-rad);
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline;
  cursor: pointer; }

.usp.cbtn {
  --usp-btn-hov: rgba(51,51,51,.2);
  --usp-btn-atv: rgba(255,255,255,.1); }
  .usp.cbtn:focus, .usp.cbtn:hover {
    box-shadow: inset 0 0 0 99rem var(--usp-btn-hov); }
  .usp.cbtn:active, .usp.cbtn.active {
    box-shadow: inset 0 0 0 99rem var(--usp-btn-atv); }

.cdrp {
  --drp-pg: .5rem 1rem;
  --drp-cc: var(--cc-cc);
  --drp-bg: var(--cc-pnl);
  --drp-bdr: var(--cc-bdr);
  --drp-shd: var(--cc-shd);
  --drp-hov: var(--cc-hov);
  --drp-atv: var(--cc-atv);
  display: inline-block;
  position: relative; }
  .cdrp:hover > .cdrpc {
    display: block; }
  .cdrpc {
    color: var(--drp-cc);
    background: var(--drp-bg);
    border: 1px solid transparent;
    box-shadow: 0 0.5rem 1rem 0 var(--drp-shd);
    display: none;
    margin: 0;
    min-width: 10rem;
    padding: 0;
    position: absolute;
    width: fit-content;
    z-index: 1; }
    .cdrpc.bdr {
      border-color: var(--drp-bdr); }
    .cdrpc.rgt {
      left: auto;
      right: 0; }
  .cdrpm {
    display: block;
    padding: var(--drp-pg);
    white-space: nowrap; }
  .cdrpd {
    display: block;
    border: 0;
    border-top: 1px solid var(--drp-bdr);
    height: 0;
    padding: 0;
    margin: .1rem 0;
    opacity: .5;
    overflow: hidden; }
  .cdrpb {
    display: block;
    padding: var(--drp-pg);
    color: inherit;
    background: inherit;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.15s; }
    .cdrpb:hover, .cdrpb:focus {
      background: var(--drp-hov);
      text-decoration: none; }
    .cdrpb:active, .cdrpb.active {
      background: var(--drp-atv); }

.cacd {
  --acd-bdr: var(--cc-bdr);
  --acd-ic-after: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 8 8"%3E%3Cpath fill="%236ea8fe" d="M1.5 1L0 2.5l4 4l4-4L6.5 1L4 3.5L1.5 1z"%2F%3E%3C%2Fsvg%3E'); }
  .cacdb {
    outline: none;
    user-select: none;
    width: 100%;
    padding: .75rem .5rem;
    transition: color 0.15s, background-color 0.15s, box-shadow 0.15s;
    text-align: left;
    cursor: pointer; }
    .cacdb::after {
      background: no-repeat var(--acd-ic-after);
      content: '';
      width: 1rem;
      height: 1rem;
      float: right;
      margin-left: auto;
      transition: transform 0.15s; }
    .cacdb.active::after {
      transform: rotate(-180deg); }
  .cacdp {
    display: none;
    overflow: hidden;
    padding: 0 1.1rem; }
    .cacdp.active {
      display: block; }
  .cacd.bdr .cacdi {
    border: 1px solid var(--acd-bdr); }
    .cacd.bdr .cacdi:not(:first-of-type) {
      border-top: 0; }

.cpvt {
  --pvt-bdr: var(--cc-bdr);
  position: relative;
  overflow: hidden; }
  .cpvtir {
    display: none; }
  .cpvtlb {
    width: auto;
    outline: none;
    padding: .5rem 1rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    user-select: none; }
  .cpvtr {
    width: calc(100% + 2 * .6rem);
    display: table;
    table-layout: fixed;
    position: relative;
    padding: 0;
    margin: -1px 0 0 0;
    border-spacing: 0;
    transition: all 0.2s; }
    .cpvtr.i1 {
      margin-left: 100%; }
    .cpvtr.i2 {
      margin-left: 200%; }
    .cpvtr.i3 {
      margin-left: 300%; }
    .cpvtr.i4 {
      margin-left: 400%; }
    .cpvtr.i5 {
      margin-left: 500%; }
  .cpvt.ld2 .cpvtr {
    width: 200%;
    left: -100%; }
  .cpvt.ld3 .cpvtr {
    width: 300%;
    left: -200%; }
  .cpvt.ld4 .cpvtr {
    width: 400%;
    left: -300%; }
  .cpvt.ld5 .cpvtr {
    width: 500%;
    left: -400%; }
  .cpvt.ld6 .cpvtr {
    width: 600%;
    left: -500%; }
  .cpvtp {
    display: table-cell;
    vertical-align: top;
    width: 100%; }
  .cpvt.bdr .cpvtlb {
    border: 1px solid var(--pvt-bdr); }
    .cpvt.bdr .cpvtlb:not(:first-of-type) {
      border-left: 0; }
  .cpvt.bdr .cpvtp {
    border: 1px solid var(--pvt-bdr); }

.ctab {
  --tab-bdr: var(--cc-bdr); }
  .ctabl {
    overflow: hidden; }
  .ctabb {
    float: left;
    outline: none;
    padding: .5rem 1rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    user-select: none; }
  .ctabp {
    display: none;
    margin-top: -1px;
    padding: .1rem 1rem; }
    .ctabp.active {
      display: block; }
  .ctab.bdr .ctabb {
    border: 1px solid var(--tab-bdr); }
    .ctab.bdr .ctabb:not(:first-of-type) {
      border-left: 0; }
  .ctab.bdr .ctabp {
    border: 1px solid var(--tab-bdr); }

.cnv {
  --nv-cc: var(--cc-cc);
  --nv-bg: var(--cc-bg);
  --nv-hov-cc: #e5e5ee;
  --nv-hov-bg: var(--cc-hov);
  --nv-atv-cc: #fbfbfe;
  --nv-atv-bg: #16768c;
  --nv-tgl-cc: var(--vt-cc);
  --nv-tgl-bg: var(--vt-bg);
  --nv-hov-shadow: rgba(255,255,255,.1);
  --nv-ic-m: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="22" height="22" viewBox="0 0 8 8"%3E%3Cpath fill="%23fcfcfc" d="M0 1v1h8V1H0zm0 2.97v1h8v-1H0zm0 3v1h8v-1H0z"%2F%3E%3C%2Fsvg%3E');
  --nv-ic-x: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="22" height="22" viewBox="0 0 8 8"%3E%3Cpath fill="%23fcfcfc" d="M1.41 0L0 1.41l.72.72L2.5 3.94L.72 5.72L0 6.41l1.41 1.44l.72-.72l1.81-1.81l1.78 1.81l.69.72l1.44-1.44l-.72-.69l-1.81-1.78l1.81-1.81l.72-.72L6.41 0l-.69.72L3.94 2.5L2.13.72L1.41 0z"%2F%3E%3C%2Fsvg%3E'); }

.cnvnr {
  display: block;
  padding: .5rem 1rem;
  color: var(--nv-cc);
  background: var(--nv-bg);
  text-decoration: none;
  transition: color 0.15s, background-color 0.15s; }
  .cnvnr:hover, .cnvnr:focus {
    color: var(--nv-hov-cc);
    background: var(--nv-hov-bg); }
  .cnvnr.active {
    color: var(--nv-atv-cc);
    background: var(--nv-atv-bg); }
  .cnvnr.disabled {
    color: var(--cc-dsd);
    cursor: default;
    pointer-events: none; }

.cnvb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: .25rem .5rem; }
  .cnvbt {
    display: none;
    padding: .2rem .15rem;
    transition: box-shadow 0.15s;
    border: 1px solid transparent;
    border-radius: .375rem;
    font-size: 1rem;
    line-height: 1;
    color: var(--nv-tgl-cc);
    background: var(--nv-tgl-bg); }
    .cnvbt:hover {
      box-shadow: 0 0 0 .2rem; }
    .cnvbt .ic-m {
      background: no-repeat var(--nv-ic-m);
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      vertical-align: middle; }
    .cnvbt .ic-x {
      background: no-repeat var(--nv-ic-x);
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      vertical-align: middle; }
  .cnvbd {
    display: flex;
    padding: .25rem .5rem .25rem 0;
    color: var(--vt-cc);
    background: var(--vt-bg);
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    align-items: center;
    white-space: nowrap; }
  .cnvbn {
    display: flex;
    flex-direction: row; }
  .cnvbm, .cnvbb {
    display: block;
    margin: 0 .1rem;
    padding: .5rem 1rem;
    color: var(--vt-cc);
    background: var(--vt-bg); }
    .cnvbm.disabled, .cnvbb.disabled {
      color: #212529;
      cursor: default;
      pointer-events: none; }
  .cnvbb {
    border-radius: 4px;
    text-decoration: none;
    transition: color 0.15s, background-color 0.15s, box-shadow 0.15s; }
    .cnvbb:hover {
      box-shadow: inset 0 0 0 99rem var(--nv-hov-shadow); }
    .cnvbb:active, .cnvbb.active {
      color: var(--nv-atv-cc);
      background: var(--nv-atv-bg); }
  .cnvb .cdrp {
    display: block;
    position: static; }
  .cnvbj .cnbam, .cnvbj .cnbab {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    width: 100%; }

@media (max-width: 600px) {
  .cnvb6 {
    justify-content: space-between; }
    .cnvb6 .cnvbt {
      display: block; }
    .cnvb6 .cnvbn {
      display: none; }
      .cnvb6 .cnvbn.rsp {
        display: block;
        flex-basis: 100%; }
        .cnvb6 .cnvbn.rsp .cdrpc {
          position: relative;
          width: 100%; } }
@media (max-width: 900px) {
  .cnvb9 {
    justify-content: space-between; }
    .cnvb9 .cnvbt {
      display: block; }
    .cnvb9 .cnvbn {
      display: none; }
      .cnvb9 .cnvbn.rsp {
        display: block;
        flex-basis: 100%; }
        .cnvb9 .cnvbn.rsp .cdrpc {
          position: relative;
          width: 100%; } }
@media (max-width: 1200px) {
  .cnvb12 {
    justify-content: space-between; }
    .cnvb12 .cnvbt {
      display: block; }
    .cnvb12 .cnvbn {
      display: none; }
      .cnvb12 .cnvbn.rsp {
        display: block;
        flex-basis: 100%; }
        .cnvb12 .cnvbn.rsp .cdrpc {
          position: relative;
          width: 100%; } }
@media (max-width: 1500px) {
  .cnvb15 {
    justify-content: space-between; }
    .cnvb15 .cnvbt {
      display: block; }
    .cnvb15 .cnvbn {
      display: none; }
      .cnvb15 .cnvbn.rsp {
        display: block;
        flex-basis: 100%; }
        .cnvb15 .cnvbn.rsp .cdrpc {
          position: relative;
          width: 100%; } }
.ccrd {
  --crd-bdr: var(--cc-bdr);
  --crd-tit-cc: var(--cc-cc);
  --crd-sub-cc: var(--cc-bdr);
  --crd-lead-cc: var(--cc-cc);
  --crd-lead-bg: var(--cc-hov);
  --crd-tail-cc: var(--cc-cc);
  --crd-tail-bg: var(--cc-hov);
  --crd-hov-shd: var(--cc-shd);
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border: 1px solid var(--crd-bdr);
  transition: box-shadow 0.3s; }
  .ccrd:hover {
    box-shadow: 0 4px 8px 0 var(--crd-hov-shd); }
  .ccrdi {
    width: 100%; }
  .ccrdh {
    padding: .5rem;
    margin-bottom: 0;
    color: var(--crd-lead-cc);
    background: var(--crd-lead-bg); }
  .ccrdf {
    padding: .5rem;
    color: var(--crd-tail-cc);
    background: var(--crd-tail-bg); }
  .ccrdc {
    flex: 1 1 auto;
    padding: .5rem; }
    .ccrdc > * {
      margin-top: 0;
      margin-bottom: 1rem; }
      .ccrdc > *:last-child {
        margin-bottom: 0; }
  .ccrdtm {
    margin-bottom: 1rem;
    color: var(--crd-tit-cc); }
  .ccrdts {
    margin-top: -.75rem;
    margin-bottom: 1rem;
    color: var(--crd-sub-cc); }
  .ccrdo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem; }
  .ccrd.bdr .ccdh {
    border-bottom: 1px solid var(--crd-bdr); }
  .ccrd.bdr .ccdf {
    border-top: 1px solid var(--crd-bdr); }

.cpxa {
  height: auto;
  max-width: 100%;
  width: auto; }

.cbdg {
  --bdg-rad: .375rem;
  --bdg-fsz: .7rem;
  --bdg-fwgt: 500;
  --bdg-pg: .3rem .65rem;
  --bdg-dgrm: 50rem;
  display: inline-block;
  padding: var(--bdg-pg);
  border-radius: var(--bdg-rad);
  font-size: var(--bdg-fsz);
  font-weight: var(--bdg-fwgt);
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline; }
  .cbdg:empty {
    display: none; }
  .cbdg.dgrm {
    border-radius: var(--bdg-dgrm); }
  .cbtn .cbdg {
    position: relative;
    top: -1px; }

.cstk {
  --stk-bdr: var(--cc-bdr);
  padding-left: 0;
  margin-bottom: 0; }
  .cstk > * {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    width: 100%;
    padding: .5rem;
    text-align: left;
    text-decoration: none;
    border-radius: 0;
    border-bottom: 1px solid var(--stk-bdr) !important; }
    .cstk > *:last-child {
      border-bottom: 0 !important; }
  .cstk.nmd {
    counter-reset: cscs; }
    .cstk.nmd > *::before {
      content: counters(cscs,".") ". ";
      counter-increment: cscs; }
  .cstk.bdr {
    border: 1px solid var(--stk-bdr); }

/*# sourceMappingURL=style.css.map */
