/*!
 * DuLib.Blazor cascading style sheet, by ksh 2023
 */
:root {
  --bg: #1c1b22;
  --cc: #fbfbfe;
  --cc-inv: #fff;
  --cc-border: #838288;
  --cc-hover: #3f3f43;
  --cc-focus: transparent;
  --cc-active: #545459;
  --cc-accent: #16768c;
  --cc-panel: #212529;
  --cc-normal: #2b2a33; }

[data-theme=light] {
  --bg: #fbfbfe;
  --cc: #212529;
  --cc-inv: #000;
  --cc-border: #dee2d6;
  --cc-hover: #b8b8bf;
  --cc-active: #d0d0d9;
  --cc-panel: #fbfbfe;
  --cc-normal: #e5e5ee; }

body, .dzbody {
  margin: 0;
  background-color: var(--bg);
  color: var(--cc);
  font-family: Malgun Gothic, Segoe UI, Noto Sans, Apple SD Gothic Neo, sans-serif;
  font-size: 14px;
  padding: 0; }

.dzex {
  border: thick double var(--cc-border);
  border-radius: .375rem;
  margin: .5rem .5rem;
  padding: .5rem .5rem; }
  .dzex > .pri {
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    border: 1px solid var(--cc-border);
    border-left: 5px solid #a9f27d; }
  .dzex > .sec {
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    border: 1px solid var(--cc-border);
    border-left: 5px solid #00ddff; }
  .dzex > h5 {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: 700; }
    .dzex > h5:first-child {
      margin-top: .5rem; }
  .dzex > p {
    margin-top: .5rem;
    margin-bottom: 0.25rem; }

.dzi {
  position: relative;
  top: 1px;
  display: inline-block;
  speak: none;
  line-height: 1; }

.dzi-bolt {
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="14" height="14" viewBox="0 0 8 8"%3E%3Cpath fill="currentColor" d="M4 0L1 5h2v3l3-5H4V0z"%2F%3E%3C%2Fsvg%3E') no-repeat center center/contain; }

.sjfcs {
  justify-content: start; }
.sjfce {
  justify-content: end; }
.sjfcc {
  justify-content: center; }
.sjfceb {
  justify-content: space-between; }
.sjfcea {
  justify-content: space-around; }
.sjfcee {
  justify-content: space-evenly; }

.sph {
  padding: .5rem; }
.sp1 {
  padding: 1rem; }
.splh {
  padding-left: .5rem; }
.spl1 {
  padding-left: 1rem; }
.sprh {
  padding-right: .5rem; }
.spr1 {
  padding-right: 1rem; }
.spth {
  padding-top: .5rem; }
.spt1 {
  padding-bottom: 1rem; }
.spbh {
  padding-bottom: .5rem; }
.spb1 {
  padding-bottom: 1rem; }

.smh {
  margin: .5rem; }
.sm1 {
  margin: 1rem; }
.smlh {
  margin-left: .5rem; }
.sml1 {
  margin-left: 1rem; }
.smrh {
  margin-right: .5rem; }
.smr1 {
  margin-right: 1rem; }
.smth {
  margin-top: .5rem; }
.smt1 {
  margin-bottom: 1rem; }
.smbh {
  margin-bottom: .5rem; }
.smb1 {
  margin-bottom: 1rem; }

@keyframes e-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes e-fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes e-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.cpxa {
  height: auto;
  max-width: 100%;
  width: auto; }

.vsnrm {
  background: var(--cc-normal);
  border: 1px solid transparent;
  color: var(--cc); }
  .vsnrm:hover, .vsnrm:focus {
    background: var(--cc-hover); }
  .vsnrm:active, .vsnrm.active {
    background: var(--cc-active); }

.vdnrm {
  background: var(--cc-normal);
  color: var(--cc); }

.vunrm {
  background: var(--cc-active);
  color: var(--cc); }

.vsspn {
  background: #16424e;
  border: 1px solid transparent;
  color: #fbfbfe; }
  .vsspn:hover, .vsspn:focus {
    background: #126072; }
  .vsspn:active, .vsspn.active {
    background: #16768c; }

.vdspn {
  background: #16424e;
  color: #fbfbfe; }

.vuspn {
  background: #16768c;
  color: #fbfbfe; }

.vssme {
  background: transparent;
  border: 1px solid transparent;
  color: var(--cc); }
  .vssme:hover, .vssme:focus {
    background: transparent; }
  .vssme:active, .vssme.active {
    background: var(--cc-active); }

.vdsme {
  background: transparent;
  color: var(--cc); }

.vusme {
  background: var(--cc-active);
  color: var(--cc); }

.vsoue {
  background: transparent;
  border: 1px solid var(--cc-normal);
  color: var(--cc); }
  .vsoue:hover, .vsoue:focus {
    border-color: var(--cc-hover);
    color: var(--cc); }
  .vsoue:active, .vsoue.active {
    border-color: var(--cc-active);
    color: var(--cc-accent); }

.vdoue {
  background: transparent;
  border: 1px solid var(--cc-normal);
  color: var(--cc); }

.vuoue {
  background: transparent;
  border: 1px solid var(--cc-active);
  color: var(--cc-accent); }

.vspri {
  background: #023b8f;
  border: 1px solid transparent;
  color: #fbfbfe; }
  .vspri:hover, .vspri:focus {
    background: #012e7f; }
  .vspri:active, .vspri.active {
    background: #0360b9; }

.vdpri {
  background: #023b8f;
  color: #fbfbfe; }

.vupri {
  background: #0360b9;
  color: #fbfbfe; }

.vsdgt {
  background: #ff6a00;
  border: 1px solid transparent;
  color: #fbfbfe; }
  .vsdgt:hover, .vsdgt:focus {
    background: #CA3E12; }
  .vsdgt:active, .vsdgt.active {
    background: #FF4644; }

.vddgt {
  background: #ff6a00;
  color: #fbfbfe; }

.vudgt {
  background: #FF4644;
  color: #fbfbfe; }

[data-theme="light"] .vsspn {
  background: #0b7b6a;
  border: 1px solid transparent;
  color: #fbfbfe; }
  [data-theme="light"] .vsspn:hover, [data-theme="light"] .vsspn:focus {
    background: #0c8473; }
  [data-theme="light"] .vsspn:active, [data-theme="light"] .vsspn.active {
    background: #0d9382; }

[data-theme="light"] .vdspn {
  background: #0b7b6a;
  color: #fbfbfe; }

[data-theme="light"] .vuspn {
  background: #0d9382;
  color: #fbfbfe; }

[data-theme="light"] .vspri {
  background: #0360b9;
  border: 1px solid transparent;
  color: #fbfbfe; }
  [data-theme="light"] .vspri:hover, [data-theme="light"] .vspri:focus {
    background: #023b8f; }
  [data-theme="light"] .vspri:active, [data-theme="light"] .vspri.active {
    background: #012e7f; }

[data-theme="light"] .vdpri {
  background: #0360b9;
  color: #fbfbfe; }

[data-theme="light"] .vupri {
  background: #012e7f;
  color: #fbfbfe; }

.lsp, .lspf, .lsp6, .lsp9, .lsp12, .lsp15 {
  margin-left: auto;
  margin-right: auto;
  padding: 0 .75rem;
  width: 100%; }

@media (min-width: 600px) {
  .lsp6, .lsp {
    max-width: 600px; } }
@media (min-width: 900px) {
  .lsp9, .lsp6, .lsp {
    max-width: 900px; } }
@media (min-width: 1200px) {
  .lsp12, .lsp9, .lsp6, .lsp {
    max-width: 1200px; } }
@media (min-width: 1500px) {
  .lsp15, .lsp12, .lsp9, .lsp6, .lsp {
    max-width: 1500px; } }
.lr {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }

.lr1 > * {
  width: 100%; }

.lr2 > * {
  width: 50%; }

.lr3 > * {
  width: 33.33333%; }

.lr4 > * {
  width: 25%; }

.lr5 > * {
  width: 20%; }

.lr6 > * {
  width: 16.66667%; }

.lr7 > * {
  width: 14.28571%; }

.lr8 > * {
  width: 12.5%; }

.lr9 > * {
  width: 11.11111%; }

.lr10 > * {
  width: 10%; }

@media (min-width: 600px) {
  .l6r1 > * {
    width: 100%; }

  .l6r2 > * {
    width: 50%; }

  .l6r3 > * {
    width: 33.33333%; }

  .l6r4 > * {
    width: 25%; }

  .l6r5 > * {
    width: 20%; }

  .l6r6 > * {
    width: 16.66667%; }

  .l6r7 > * {
    width: 14.28571%; }

  .l6r8 > * {
    width: 12.5%; }

  .l6r9 > * {
    width: 11.11111%; }

  .l6r10 > * {
    width: 10%; } }
@media (min-width: 900px) {
  .l9r1 > * {
    width: 100%; }

  .l9r2 > * {
    width: 50%; }

  .l9r3 > * {
    width: 33.33333%; }

  .l9r4 > * {
    width: 25%; }

  .l9r5 > * {
    width: 20%; }

  .l9r6 > * {
    width: 16.66667%; }

  .l9r7 > * {
    width: 14.28571%; }

  .l9r8 > * {
    width: 12.5%; }

  .l9r9 > * {
    width: 11.11111%; }

  .l9r10 > * {
    width: 10%; } }
@media (min-width: 1200px) {
  .l12r1 > * {
    width: 100%; }

  .l12r2 > * {
    width: 50%; }

  .l12r3 > * {
    width: 33.33333%; }

  .l12r4 > * {
    width: 25%; }

  .l12r5 > * {
    width: 20%; }

  .l12r6 > * {
    width: 16.66667%; }

  .l12r7 > * {
    width: 14.28571%; }

  .l12r8 > * {
    width: 12.5%; }

  .l12r9 > * {
    width: 11.11111%; }

  .l12r10 > * {
    width: 10%; } }
@media (min-width: 1500px) {
  .l15r1 > * {
    width: 100%; }

  .l15r2 > * {
    width: 50%; }

  .l15r3 > * {
    width: 33.33333%; }

  .l15r4 > * {
    width: 25%; }

  .l15r5 > * {
    width: 20%; }

  .l15r6 > * {
    width: 16.66667%; }

  .l15r7 > * {
    width: 14.28571%; }

  .l15r8 > * {
    width: 12.5%; }

  .l15r9 > * {
    width: 11.11111%; }

  .l15r10 > * {
    width: 10%; } }
.lc {
  flex: 0 1 auto; }

.lcg {
  flex: 1 1 auto; }

.lc1 {
  width: 10%; }

.lc2 {
  width: 20%; }

.lc3 {
  width: 30%; }

.lc4 {
  width: 40%; }

.lc5 {
  width: 50%; }

.lc6 {
  width: 60%; }

.lc7 {
  width: 70%; }

.lc8 {
  width: 80%; }

.lc9 {
  width: 90%; }

.lc10 {
  width: 100%; }

.lc33 {
  width: 33.33333%; }

.lc66 {
  width: 66.66666%; }

.lc25 {
  width: 25%; }

.lc75 {
  width: 75%; }

.lc16 {
  width: 16.66666%; }

.lc0 {
  display: none; }

@media (min-width: 600px) {
  .l6c1 {
    width: 10%; }

  .l6c2 {
    width: 20%; }

  .l6c3 {
    width: 30%; }

  .l6c4 {
    width: 40%; }

  .l6c5 {
    width: 50%; }

  .l6c6 {
    width: 60%; }

  .l6c7 {
    width: 70%; }

  .l6c8 {
    width: 80%; }

  .l6c9 {
    width: 90%; }

  .l6c10 {
    width: 100%; }

  .l6c33 {
    width: 33.33333%; }

  .l6c66 {
    width: 66.66666%; }

  .l6c25 {
    width: 25%; }

  .l6c75 {
    width: 75%; }

  .l6c16 {
    width: 16.66666%; }

  .l6c0 {
    display: none; } }
@media (min-width: 900px) {
  .l9c1 {
    width: 10%; }

  .l9c2 {
    width: 20%; }

  .l9c3 {
    width: 30%; }

  .l9c4 {
    width: 40%; }

  .l9c5 {
    width: 50%; }

  .l9c6 {
    width: 60%; }

  .l9c7 {
    width: 70%; }

  .l9c8 {
    width: 80%; }

  .l9c9 {
    width: 90%; }

  .l9c10 {
    width: 100%; }

  .l9c33 {
    width: 33.33333%; }

  .l9c66 {
    width: 66.66666%; }

  .l9c25 {
    width: 25%; }

  .l9c75 {
    width: 75%; }

  .l9c16 {
    width: 16.66666%; }

  .l9c0 {
    display: none; } }
@media (min-width: 1200px) {
  .l12c1 {
    width: 10%; }

  .l12c2 {
    width: 20%; }

  .l12c3 {
    width: 30%; }

  .l12c4 {
    width: 40%; }

  .l12c5 {
    width: 50%; }

  .l12c6 {
    width: 60%; }

  .l12c7 {
    width: 70%; }

  .l12c8 {
    width: 80%; }

  .l12c9 {
    width: 90%; }

  .l12c10 {
    width: 100%; }

  .l12c33 {
    width: 33.33333%; }

  .l12c66 {
    width: 66.66666%; }

  .l12c25 {
    width: 25%; }

  .l12c75 {
    width: 75%; }

  .l12c16 {
    width: 16.66666%; }

  .l12c0 {
    display: none; } }
@media (min-width: 1500px) {
  .l15c1 {
    width: 10%; }

  .l15c2 {
    width: 20%; }

  .l15c3 {
    width: 30%; }

  .l15c4 {
    width: 40%; }

  .l15c5 {
    width: 50%; }

  .l15c6 {
    width: 60%; }

  .l15c7 {
    width: 70%; }

  .l15c8 {
    width: 80%; }

  .l15c9 {
    width: 90%; }

  .l15c10 {
    width: 100%; }

  .l15c33 {
    width: 33.33333%; }

  .l15c66 {
    width: 66.66666%; }

  .l15c25 {
    width: 25%; }

  .l15c75 {
    width: 75%; }

  .l15c16 {
    width: 16.66666%; }

  .l15c0 {
    display: none; } }
.vnulo {
  --cbdg-rad: .375rem;
  --cbdg-fsz: .75rem;
  --cbdg-fwgt: 700;
  --cbdg-pg: .3rem .65rem;
  --cbdg-dgrm: 50rem;
  --cbtn-mn: .3rem 0;
  --cbtn-pg: .5rem .75rem;
  --cbtn-rad: .375rem;
  --cdrp-bdr: var(--cc-border);
  --cdrp-bg: var(--cc-panel);
  --cdrp-cc: var(--cc);
  --cdrp-hover: var(--cc-hover);
  --cdrp-active: var(--cc-active);
  --cdrp-pg: .5rem 1rem;
  --cdrp-shd: rgba(0,0,0,.3); }

.usp {
  --usp-cbtn-hover: rgba(51,51,51,.2);
  --usp-cbtn-active: rgba(255,255,255,.1); }

.cbdg {
  display: inline-block;
  padding: var(--cbdg-pg);
  border-radius: var(--cbdg-rad);
  font-size: var(--cbdg-fsz);
  font-weight: var(--cbdg-fwgt);
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline; }
  .cbdg:empty {
    display: none; }
  .cbdg.dgrm {
    border-radius: var(--cbdg-dgrm); }
  .cbtn .cbdg {
    position: relative;
    top: -1px; }

.cbtn {
  box-shadow: none;
  outline: none;
  user-select: none;
  display: inline-block;
  overflow: visible;
  width: auto;
  height: auto;
  margin: var(--cbtn-mn);
  padding: var(--cbtn-pg);
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out, box-shadow 0.15s ease-out;
  border-radius: var(--cbtn-rad);
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: baseline;
  cursor: pointer; }

.usp.cbtn:focus, .usp.cbtn:hover {
  box-shadow: inset 0 0 0 99rem var(--usp-cbtn-hover); }
.usp.cbtn:active, .usp.cbtn.active {
  box-shadow: inset 0 0 0 99rem var(--usp-cbtn-active); }

.cdrp {
  display: inline-block;
  position: relative; }
  .cdrp:hover > .cdrpc {
    display: block; }
  .cdrpc {
    background: var(--cdrp-bg);
    color: var(--cdrp-cc);
    border: 1px solid transparent;
    box-shadow: 0 0.5rem 1rem 0 var(--cdrp-shd);
    display: none;
    margin: 0;
    min-width: 10rem;
    padding: 0;
    position: absolute;
    width: fit-content;
    z-index: 1; }
    .cdrpc.bdr {
      border-color: var(--cdrp-bdr); }
    .cdrpc.rgt {
      left: auto;
      right: 0; }
  .cdrpm {
    display: block;
    padding: var(--cdrp-pg);
    white-space: nowrap; }
  .cdrpd {
    display: block;
    border: 0;
    border-top: 1px solid var(--cdrp-bdr);
    height: 0;
    padding: 0;
    margin: .1rem 0;
    opacity: .5;
    overflow: hidden; }
  .cdrpb {
    display: block;
    padding: var(--cdrp-pg);
    transition: background-color 0.15s ease-in-out;
    background: inherit;
    color: inherit;
    text-decoration: none;
    white-space: nowrap; }
    .cdrpb:hover, .cdrpb:focus {
      background: var(--cdrp-hover);
      text-decoration: none; }
    .cdrpb:active, .cdrpb.active {
      background: var(--cdrp-active); }

.vtab {
  --ctab-bdr: var(--cc-border);
  --cacd-bdr: var(--cc-border);
  --cacd-ic-after: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 8 8"%3E%3Cpath fill="%236ea8fe" d="M1.5 1L0 2.5l4 4l4-4L6.5 1L4 3.5L1.5 1z"%2F%3E%3C%2Fsvg%3E');
  --cpvt-bdr: var(--cc-border); }

.cacdb {
  outline: none;
  user-select: none;
  width: 100%;
  padding: .75rem .5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: left;
  cursor: pointer; }
  .cacdb::after {
    background: no-repeat var(--cacd-ic-after);
    content: '';
    width: 1rem;
    height: 1rem;
    float: right;
    margin-left: auto;
    transition: transform 0.15s ease-in-out; }
  .cacdb.active::after {
    transform: rotate(-180deg); }
.cacdp {
  display: none;
  overflow: hidden;
  padding: 0 1.1rem; }
  .cacdp.active {
    display: block; }
.cacd.bdr .cacdi {
  border: 1px solid var(--cacd-bdr); }
  .cacd.bdr .cacdi:not(:first-of-type) {
    border-top: 0; }

.cpvt {
  position: relative;
  overflow: hidden; }
  .cpvtir {
    display: none; }
  .cpvtlb {
    width: auto;
    outline: none;
    padding: .5rem 1rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    user-select: none; }
  .cpvtr {
    width: calc(100% + 2 * .6rem);
    display: table;
    table-layout: fixed;
    position: relative;
    padding: 0;
    margin: -1px 0 0 0;
    border-spacing: 0;
    transition: all 0.2s ease; }
    .cpvtr.i1 {
      margin-left: 100%; }
    .cpvtr.i2 {
      margin-left: 200%; }
    .cpvtr.i3 {
      margin-left: 300%; }
    .cpvtr.i4 {
      margin-left: 400%; }
    .cpvtr.i5 {
      margin-left: 500%; }
  .cpvt.ld2 .cpvtr {
    width: 200%;
    left: -100%; }
  .cpvt.ld3 .cpvtr {
    width: 300%;
    left: -200%; }
  .cpvt.ld4 .cpvtr {
    width: 400%;
    left: -300%; }
  .cpvt.ld5 .cpvtr {
    width: 500%;
    left: -400%; }
  .cpvt.ld6 .cpvtr {
    width: 600%;
    left: -500%; }
  .cpvtp {
    display: table-cell;
    vertical-align: top;
    width: 100%; }
  .cpvt.bdr .cpvtlb {
    border: 1px solid var(--cpvt-bdr); }
    .cpvt.bdr .cpvtlb:not(:first-of-type) {
      border-left: 0; }
  .cpvt.bdr .cpvtp {
    border: 1px solid var(--cpvt-bdr); }

.ctabl {
  overflow: hidden; }
.ctabb {
  float: left;
  outline: none;
  padding: .5rem 1rem;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  user-select: none; }
.ctabp {
  display: none;
  margin-top: -1px;
  padding: .1rem 1rem; }
  .ctabp.active {
    display: block; }
.ctab.bdr .ctabb {
  border: 1px solid var(--ctab-bdr); }
  .ctab.bdr .ctabb:not(:first-of-type) {
    border-left: 0; }
.ctab.bdr .ctabp {
  border: 1px solid var(--ctab-bdr); }

.vnv {
  --cnv-cc-hover: #e5e5ee;
  --cnv-cc-active: #fbfbfe;
  --cnv-cc-disabled: #212529;
  --cnv-cc-tgl: #fff;
  --cnv-cc-brd: #fff;
  --cnv-cc-lst: #fbfbfe;
  --cnv-bg: transparent;
  --cnv-bg-hover: inherit;
  --cnv-bg-active: #16768c;
  --cnv-border: #838288;
  --cnv-shd-hover: rgba(#fff, .1);
  --cnv-ic-m: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="22" height="22" viewBox="0 0 8 8"%3E%3Cpath fill="%23fcfcfc" d="M0 1v1h8V1H0zm0 2.97v1h8v-1H0zm0 3v1h8v-1H0z"%2F%3E%3C%2Fsvg%3E');
  --cnv-ic-x: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="22" height="22" viewBox="0 0 8 8"%3E%3Cpath fill="%23fcfcfc" d="M1.41 0L0 1.41l.72.72L2.5 3.94L.72 5.72L0 6.41l1.41 1.44l.72-.72l1.81-1.81l1.78 1.81l.69.72l1.44-1.44l-.72-.69l-1.81-1.78l1.81-1.81l.72-.72L6.41 0l-.69.72L3.94 2.5L2.13.72L1.41 0z"%2F%3E%3C%2Fsvg%3E'); }

.cnvnr {
  color: var(--cc);
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; }
  .cnvnr:hover, .cnvnr:focus {
    color: var(--cnv-cc-hover);
    background: var(--cnv-bg-hover); }
  .cnvnr.active {
    color: var(--cnv-cc-active);
    background: var(--cnv-bg-active); }
  .cnvnr.disabled {
    color: var(--cnv-cc-disabled);
    cursor: default;
    pointer-events: none; }

.cnvb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: .25rem .5rem;
  background: var(--cnv-bg); }
  .cnvbt {
    display: none;
    padding: .25rem .2rem;
    transition: box-shadow 0.15s ease-in-out;
    background: transparent;
    border: 1px solid transparent;
    border-radius: .375rem;
    font-size: 1.25rem;
    line-height: 1;
    color: var(--cnv-cc-tgl); }
    .cnvbt:hover {
      box-shadow: 0 0 0 .2rem; }
    .cnvbt .ic-m {
      background: no-repeat var(--cnv-ic-m);
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      vertical-align: middle; }
    .cnvbt .ic-x {
      background: no-repeat var(--cnv-ic-x);
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      display: inline-block;
      vertical-align: middle; }
  .cnvbd {
    display: flex;
    padding: .25rem .5rem .25rem 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--cnv-cc-brd);
    text-decoration: none;
    align-items: center;
    white-space: nowrap; }
  .cnvbn {
    display: flex;
    flex: 1 auto;
    flex-direction: row; }
  .cnvbm, .cnvbb {
    display: block;
    margin: 0 .1rem;
    padding: .5rem 1rem;
    color: var(--cnv-cc-lst);
    background: var(--cnv-bg); }
    .cnvbm.disabled, .cnvbb.disabled {
      color: var(--cnv-cc-disabled);
      cursor: default;
      pointer-events: none; }
  .cnvbb {
    border-radius: 4px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
    .cnvbb:hover {
      box-shadow: inset 0 0 0 99rem var(--cnv-shd-hover); }
    .cnvbb:active, .cnvbb.active {
      background: var(--cnv-bg-active); }
  .cnvb .cdrp {
    display: block;
    position: static; }
  .cnvbj .cnbam, .cnvbj .cnbab {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    width: 100%; }

@media (max-width: 600px) {
  .cnvb6 .cnvbt {
    display: block; }
  .cnvb6 .cnvbn {
    display: none; }
    .cnvb6 .cnvbn.rsp {
      display: block;
      flex-basis: 100%; }
      .cnvb6 .cnvbn.rsp .cdrpc {
        position: relative;
        width: 100%; }
    .cnvb6 .cnvbn.rspe {
      align-items: center;
      display: flex;
      flex-basis: 100%;
      flex-direction: column; } }
@media (max-width: 900px) {
  .cnvb9 .cnvbt {
    display: block; }
  .cnvb9 .cnvbn {
    display: none; }
    .cnvb9 .cnvbn.rsp {
      display: block;
      flex-basis: 100%; }
      .cnvb9 .cnvbn.rsp .cdrpc {
        position: relative;
        width: 100%; }
    .cnvb9 .cnvbn.rspe {
      align-items: center;
      display: flex;
      flex-basis: 100%;
      flex-direction: column; } }
@media (max-width: 1200px) {
  .cnvb12 .cnvbt {
    display: block; }
  .cnvb12 .cnvbn {
    display: none; }
    .cnvb12 .cnvbn.rsp {
      display: block;
      flex-basis: 100%; }
      .cnvb12 .cnvbn.rsp .cdrpc {
        position: relative;
        width: 100%; }
    .cnvb12 .cnvbn.rspe {
      align-items: center;
      display: flex;
      flex-basis: 100%;
      flex-direction: column; } }
@media (max-width: 1500px) {
  .cnvb15 .cnvbt {
    display: block; }
  .cnvb15 .cnvbn {
    display: none; }
    .cnvb15 .cnvbn.rsp {
      display: block;
      flex-basis: 100%; }
      .cnvb15 .cnvbn.rsp .cdrpc {
        position: relative;
        width: 100%; }
    .cnvb15 .cnvbn.rspe {
      align-items: center;
      display: flex;
      flex-basis: 100%;
      flex-direction: column; } }
.vcg {
  --ccd-border: var(--cc-border);
  --ccd-cc-title: var(--cc);
  --ccd-cc-subtitle: var(--cc-border);
  --ccd-cc-lead: var(--cc);
  --ccd-cc-tail: var(--cc);
  --ccd-bg-lead: var(--cc-hover);
  --ccd-bg-tail: var(--cc-hover);
  --ccd-shadow: rgba(#fff, .2);
  --cstk-border: var(--cc-border); }

.ccd {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border: 1px solid var(--ccd-border);
  transition: box-shadow 0.3s ease; }
  .ccd:hover {
    box-shadow: 0 4px 8px 0 var(--ccd-shadow); }
  .ccdi {
    width: 100%; }
  .ccdh {
    padding: .5rem;
    margin-bottom: 0;
    color: var(--ccd-cc-lead);
    background: var(--ccd-bg-lead); }
  .ccdf {
    padding: .5rem;
    color: var(--ccd-cc-tail);
    background: var(--ccd-bg-tail); }
  .ccdc {
    flex: 1 1 auto;
    padding: .5rem; }
    .ccdc > * {
      margin-top: 0;
      margin-bottom: 1rem; }
      .ccdc > *:last-child {
        margin-bottom: 0; }
  .ccdtm {
    margin-bottom: 1rem;
    color: var(--ccd-cc-title); }
  .ccdts {
    margin-top: -.75rem;
    margin-bottom: 1rem;
    color: var(--ccd-cc-subtitle); }
  .ccdo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem; }
  .ccd.bdr .ccdh {
    border-bottom: 1px solid var(--ccd-border); }
  .ccd.bdr .ccdf {
    border-top: 1px solid var(--ccd-border); }

.cstk {
  padding-left: 0;
  margin-bottom: 0; }
  .cstk > * {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    width: 100%;
    padding: .5rem;
    text-align: left;
    border-radius: 0;
    border-bottom: 1px solid var(--cstk-border); }
    .cstk > *:last-child {
      border-bottom: 0; }
  .cstk.nmd {
    counter-reset: cscs; }
    .cstk.nmd > *::before {
      content: counters(cscs,".") ". ";
      counter-increment: cscs; }
  .cstk.bdr {
    border: 1px solid var(--cstk-border); }

[tooltip] {
  --tooltip-cc: #fff;
  --tooltip-bg: #ff6a00;
  position: relative; }
  [tooltip]:after, [tooltip]:before {
    user-select: none;
    position: absolute;
    z-index: 10;
    top: calc(100% - 6px);
    left: 0;
    opacity: 0;
    overflow: hidden;
    height: 0;
    margin-top: 12px;
    padding: 0;
    border-width: 0;
    transition: opacity 0.6s ease, height 0.6s ease; }
  [tooltip]:after {
    content: attr(tooltip);
    display: inline-block;
    width: auto;
    background: var(--tooltip-bg);
    border: 0;
    border-radius: .2rem;
    font-size: .8rem;
    line-height: 1;
    color: var(--tooltip-cc);
    text-align: center;
    letter-spacing: inherit;
    white-space: nowrap;
    vertical-align: middle; }
  [tooltip]:before {
    content: '';
    left: 10px;
    width: 0;
    height: 0;
    margin-top: 0;
    border-width: 0;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-bg); }
  [tooltip]:hover:after, [tooltip]:hover:before {
    opacity: 1;
    height: auto;
    border-width: 6px; }
  [tooltip]:hover:after {
    padding: .45rem .9rem; }

/*# sourceMappingURL=style.css.map */
